.#{$prefix}form-textarea{
  margin-left: 0;
}

.ux-timefield{
  //reduce padding and center date label
  input.#{$prefix}form-text{
    padding: 2px 2px 1px 2px;
    text-align: center;
  }
  td.#{$prefix}trigger-cell{
    width: 20px;
  }
  .#{$prefix}form-spinner-up,
  .#{$prefix}form-spinner-down{
    width: 18px !important;
  }
}

.#{$prefix}form-text {
  vertical-align: middle;
}

/**
 *  targeted reset for margin, Chrome adds 2 pixels to the left and right of inputs
 */
input.#{$prefix}form-text {
  margin: 0px;
}

.g-accordion {
  input.#{$prefix}form-text{
    padding: 0 2px 0 5px;
    width: 100%;
  }
  .#{$prefix}form-trigger-input-cell{
    width: 100%;
    background-color: $gw-top-nav-background-color;
  }
  .#{$prefix}anchor-form-item{
    width: 100%;
  }
  .#{$prefix}form-trigger-wrap{
    width: 100%;
  }
  .#{$prefix}form-item-label-left{
    width: 35px;
  }
}

