.#{$prefix}boundlist-floating {
  box-shadow: rgb(136, 136, 136) 0px 0px 6px;
}
.#{$prefix}list-plain h1{
  font-size: 13px;
  margin-left: 5px;
}
.#{$prefix}boundlist-selected{
  color: $gw-top-nav-background-color;
}

.#{$prefix}boundlist-item{
  white-space: nowrap;
}

.#{$prefix}boundlist-item-over{
  color: $gw-text-color;
}
