<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <CardViewPanel
    id="ClaimSnapshotOtherStructureIncidentCV"
    mode="700">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="incidentParam"
      type="Object"/>
    <Require
      name="snapshot"
      type="Object"/>
    <Variable
      initialValue="incidentParam as snapshot.v700.OtherStructureIncident"
      name="incident"
      type="snapshot.v700.OtherStructureIncident"/>
    <Card
      id="OtherIncident_DetailsCard"
      title="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Details">
      <PanelRow>
        <PanelColumn>
          <PanelRef>
            <TitleBar
              id="DamageHeader"
              title="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Damage"/>
            <DetailViewPanel>
              <InputColumn>
                <TextAreaInput
                  id="Description"
                  label="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Description"
                  numRows="3"
                  required="true"
                  value="incident.Description"/>
                <Input
                  id="EstimatesReceived"
                  label="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.EstimatedReceived"
                  value="incident.EstimatesReceived"/>
                <Input
                  id="EstimateCost"
                  label="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.EstimatedCost"
                  value="incident.EstRepairCost"
                  visible="incident.EstimatesReceived.Code == &quot;yes&quot;"/>
                <Input
                  id="EstimateTime"
                  label="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.EstimateTime"
                  value="incident.EstRepairTime"
                  visible="incident.EstimatesReceived.Code == &quot;yes&quot;"/>
                <Input
                  id="LossEstimate"
                  label="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.LossEstimate"
                  value="incident.LossEstimate"/>
                <Input
                  id="AlreadyRepaired"
                  label="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.AlreadyRepaired"
                  value="incident.AlreadyRepaired"/>
                <Input
                  id="FencesDamaged"
                  label="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.FencesDamaged"
                  value="incident.FencesDamaged"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
        </PanelColumn>
        <PanelColumn>
          <PanelRef
            def="ClaimSnapshotIncidentRelatedExposuresPanelSet(claim, snapshot)"
            mode="700"/>
        </PanelColumn>
      </PanelRow>
    </Card>
    <Card
      id="Dwelling_AssessmentCard"
      title="displaykey.Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Assessment">
      <PanelRef
        def="ClaimSnapshotIncidentAssessDV(claim, incident, snapshot)"
        mode="700"/>
    </Card>
  </CardViewPanel>
</PCF>