<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Popup
    beforeCommit="validateAndRecordChange(serviceRequest)"
    canEdit="true"
    id="EditReferenceNumberPopup"
    startInEditMode="true"
    title="displaykey.Web.ServiceRequest.UpdateState.UpdateReferenceNumber.Title">
    <LocationEntryPoint
      signature="EditReferenceNumberPopup(serviceRequest: ServiceRequest)"/>
    <Variable
      name="serviceRequest"
      type="ServiceRequest"/>
    <Variable
      initialValue="serviceRequest.ServiceRequestReferenceNumber"
      name="originalReferenceNumber"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <Input
            editable="true"
            id="ServiceRequestReferenceNumber"
            label="displaykey.Web.ServiceRequest.UpdateState.ServiceRequestReferenceNumber"
            required="false"
            value="serviceRequest.ServiceRequestReferenceNumber"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
    <Code><![CDATA[function validateAndRecordChange(sr : ServiceRequest) {
  if (serviceRequest.ServiceRequestReferenceNumber != originalReferenceNumber) {
    var reasonForChange = displaykey.Web.ServiceRequest.StateTransition.ReferenceNumberChanged(serviceRequest.ServiceRequestReferenceNumber)
    sr.recordChange(reasonForChange, null, null, User.util.CurrentUser.Contact)
  }
}]]></Code>
  </Popup>
</PCF>