<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ServiceRequestMessageDV">
    <Require
      name="message"
      type="ServiceRequestMessage"/>
    <InputColumn>
      <TextInput
        boldValue="true"
        id="MessageFrom"
        label="displaykey.Web.ServiceRequest.Message.FromLabel"
        value="message.Author.DisplayName"/>
    </InputColumn>
    <InputColumn>
      <DateInput
        boldValue="true"
        dateFormat="short"
        id="MessageSendDate"
        label="displaykey.Web.ServiceRequest.Message.SendDate"
        timeFormat="short"
        value="message.SendDate"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        id="MessageType"
        label="displaykey.Web.ServiceRequest.Message.TypeLabel"
        value="message.Type"/>
    </InputColumn>
    <InputFooterSection>
      <PreFormattedTextInput
        id="MessageBody"
        label="displaykey.Web.ServiceRequest.Message.ContentLabel"
        value="message.Body"/>
      <InputDivider/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>