<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Page
    canEdit="true"
    canVisit="true"
    id="Calculate"
    startInEditMode="true"
    title="&quot;Calculator&quot;">
    <Screen
      id="calculateScreen">
      <Variable
        initialValue="new trainingclasses.Calculator()"
        name="Calculator"
        type="trainingclasses.Calculator"/>
      <PanelRef>
        <DetailViewPanel>
          <InputColumn>
            <InputSet>
              <TextInput
                editable="true"
                id="FN"
                label="&quot;First Number&quot;"
                required="true"
                value="Calculator.FirstNumber"
                visible="true"/>
            </InputSet>
            <TextInput
              editable="true"
              id="SN"
              label="&quot;Second Number&quot;"
              required="true"
              value="Calculator.SecondNumber"
              visible="true"/>
            <InputDivider/>
          </InputColumn>
          <InputFooterSection>
            <InputSet
              id="SearchLinkInp">
              <!-- DON NOT reference this file directly, but use SearchAndResetInputSet or SearchOnlyInputSet instead -->
              <InputSet
                id="SearchLinksInputSet">
                <ContentInput
                  id="searchBtns"
                  labelAbove="true">
                  <Link
                    action="Calculator.add(Calculator.FirstNumber,Calculator.SecondNumber)"
                    default="true"
                    id="Calculate"
                    label="&quot;Calculate&quot;"
                    shortcut="S"
                    styleClass="bigButton"/>
                </ContentInput>
              </InputSet>
              <Label/>
              <TextInput
                id="result"
                label="&quot;&quot;"
                value="&quot;\n Result is : &quot;+Calculator.result"/>
            </InputSet>
          </InputFooterSection>
        </DetailViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>