<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="RuleFilterCriteriaDV"
    mode="ExposureRule">
    <Require
      name="filterCriteria"
      type="gw.bizrules.CCRuleFilterCriteria"/>
    <Variable
      name="ruleFilterCriteria"
      initialValue="filterCriteria as gw.bizrules.ExposureRules.ExposureRuleFilterCriteria"
      type="gw.bizrules.ExposureRules.ExposureRuleFilterCriteria"/>
    <Variable
      name="exposureRuleUtil"
      initialValue="new gw.bizrules.ExposureRules.ExposureRuleUtil()"
      type="gw.bizrules.ExposureRules.ExposureRuleUtil"/>
    <InputColumn>
      <TextInput
        id="TextFilter"
        editable="true"
        label="DisplayKey.get('Web.BizRules.Rule.RuleDetails.NameOrDescription')"
        value="ruleFilterCriteria.NameOrDescription">
      </TextInput>
      <RangeInput
        editable="true"
        id="Status"
        label="DisplayKey.get('Web.BizRules.Rule.RuleDetails.Status')"
        optionLabel="VALUE.DisplayName"
        required="true"
        value="ruleFilterCriteria.Status"
        valueRange="ruleFilterCriteria.AvailableStatuses"
        valueType="gw.bizrules.management.RuleQueryFactory&lt;ExposureRule&gt;"/>
      <RangeInput
        editable="true"
        id="Availability"
        label="DisplayKey.get('Web.BizRules.Rule.RuleDetails.Availability')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.Availability"
        valueRange="ruleFilterCriteria.AvailabilityVals"
        valueType="String"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        id="PolicyTypeFilter"
        label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.PolicyType')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.PolicyType"
        valueType="PolicyType"
        filter="exposureRuleUtil.ApplicablePolicyTypes.contains(VALUE)"
        editable="true">
        <PostOnChange
          deferUpdate="false"/>
      </TypeKeyInput>
      <TypeKeyInput
        id="IncidentTypeFilter"
        label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.IncidentType')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.IncidentType"
        filter="exposureRuleUtil.getApplicableIncidentsForPolicy(ruleFilterCriteria.PolicyType).contains(VALUE)"
        valueType="typekey.Incident"
        editable="true">
        <PostOnChange
          deferUpdate="false"/>
      </TypeKeyInput>
      <TypeKeyInput
        id="LossPartyTypeFilter"
        label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.LossPartyType')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.LossPartyType"
        valueType="LossPartyType"
        editable="true">
      </TypeKeyInput>
      <TypeKeyInput
        id="JurisdictionFilter"
        label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.Jurisdiction')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.Jurisdiction"
        valueType="Jurisdiction"
        editable="true">
      </TypeKeyInput>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="RuleFilterCriteriaRuleActionInputSet(ruleFilterCriteria)"
        editable="true"
        mode="&quot;ExposureRule&quot;"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>