<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="UserAssignableDV"
    mode="exposure">
    <Require
      name="User"
      type="User"/>
    <InputColumn>
      <ListViewInput
        def="DesktopExposuresLV(ExposureDesktopView.finder.findAll(), User)"
        labelAbove="true">
        <Toolbar>
          <CheckedValuesToolbarButton
            allCheckedRowsAction="AssignExposuresPopup.push(new exposure.ExposureAssignmentPopup(CheckedValues))"
            default="true"
            flags="any ExposureDesktopView"
            id="UserExposuresPage_AssignButton"
            iterator="DesktopExposuresLV.DesktopExposuresLV"
            label="displaykey.Web.DesktopExposures.Assign"
            shortcut="G"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>