$boundlist-background-color: $gw-boundlist-background-color !default;
$boundlist-item-over-background-color: $base-light-color !default;
$boundlist-item-selected-background-color: $base-color !default;
$boundlist-item-padding: 0 25px 0 10px !default;
