/JavaFiles/Modifiers/build/
/XML/XML/nbproject/private/
/JavaFiles/XML/build/
/JavaFiles/XML/dist/
/JavaFiles/XML/nbproject/private/
/JavaFiles/XML_DOMParsing/nbproject/private/
/JavaFiles/XML_DOMParsing/build/
/JavaFiles/WebServices/nbproject/private/
/JavaFiles/Streams/nbproject/private/
/JavaFiles/Streams/build/
/JavaFiles/Streams/dist/
/ClaimCenter8_Latest/Guidewire/ClaimCenter/.idea/
Policy_Latest/
ExternalApp/
ClaimCenter8_Latest/Guidewire/ClaimCenter/modules/configuration/out/
ClaimCenter8_Latest/Guidewire/ClaimCenter/.idea/
ClaimCenter8_Latest/Guidewire/ClaimCenter/.idea.idea

Training8/Guidewire/TrainingApp/modules/configuration/out/.idea

/ClaimCenter1003/.idea
ClaimCenter8_Latest/Guidewire/ClaimCenter/modules/configuration/out/
/Training8
/ClaimCenter8_Latest
/CC10
/JavaFiles/XML_DOMParsing/dist/