<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <Popup
    id="ClaimSnapshotCovTerm800Popup"
    title="&quot;&quot;">
    <LocationEntryPoint
      signature="ClaimSnapshotCovTerm800Popup(CovTerm : snapshot.v.PlaceholderSnapshotPropertyType)"/>
    <Variable
      name="CovTerm"
      type="snapshot.v.PlaceholderSnapshotPropertyType"/>
    <Screen>
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <Input
            id="CovTermPattern"
            label="displaykey.Web.ClaimPolicy.CovTerm.Subject"
            value="CovTerm.CovTermPattern"/>
          <Input
            id="ModelRestriction"
            label="displaykey.Web.ClaimPolicy.CovTerm.ApplicableTo"
            value="CovTerm.ModelRestriction"/>
          <Input
            id="ModelAggregation"
            label="displaykey.Web.ClaimPolicy.CovTerm.Per"
            value="CovTerm.ModelAggregation"/>
        </InputColumn>
        <InputColumn>
          <Input
            id="Type"
            label="displaykey.Web.ClaimPolicy.CovTerm.Subtype"
            value="CovTerm.Subtype"/>
          <InputSet
            visible="CovTerm.getFieldValue(&quot;Subtype&quot;).toString().containsIgnoreCase(entity.ClassificationCovTerm.Type.DisplayName)">
            <Input
              id="Code"
              label="displaykey.Web.ClaimPolicy.CovTerm.Code"
              value="CovTerm.Code"/>
            <Input
              id="Description"
              label="displaykey.Web.ClaimPolicy.CovTerm.Description"
              value="CovTerm.Description"/>
          </InputSet>
          <InputSet
            visible="CovTerm.getFieldValue(&quot;Subtype&quot;).toString().containsIgnoreCase(entity.FinancialCovTerm.Type.DisplayName)">
            <Input
              id="FinancialAmount"
              label="displaykey.Web.ClaimPolicy.CovTerm.Amount"
              value="CovTerm.FinancialAmount"/>
          </InputSet>
          <InputSet
            visible="CovTerm.getFieldValue(&quot;Subtype&quot;).toString().containsIgnoreCase(entity.NumericCovTerm.Type.DisplayName)">
            <Input
              id="NumericValue"
              label="displaykey.Web.ClaimPolicy.CovTerm.NumericValue"
              value="CovTerm.NumericValue"/>
            <Input
              id="Units"
              label="displaykey.Web.ClaimPolicy.CovTerm.Units"
              value="CovTerm.Units"/>
          </InputSet>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>
