<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="IntegrationMessageAcknowledgementPage"
    startInEditMode="true"
    title="displaykey.Training.MessageAcknowledgement">
    <Variable
      name="Destination"
      type="String"/>
    <Variable
      name="SenderRefID"
      type="String"/>
    <Variable
      initialValue="null"
      name="ReplyType"
      type="String"/>
    <Variable
      initialValue="null"
      name="VendorProfileCode"
      type="String"/>
    <Variable
      initialValue="null"
      name="ResultString"
      type="String"/>
    <Variable
      name="ErrorCategory"
      type="String"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <ContentInput>
            <Link
              action="MessageAcknowledgementExitPoint.push()"
              id="DisplayInstructions"
              label="displaykey.Training.DisplayInstructions"/>
          </ContentInput>
          <RangeInput
            editable="true"
            id="Destination"
            label="displaykey.Training.Destination"
            required="true"
            value="Destination"
            valueRange="getArrayofMessageDestinations()">
            <PostOnChange/>
          </RangeInput>
          <Input
            editable="true"
            id="SenderRefID"
            label="Destination != &quot;Bank Account Verification&quot; ? displaykey.Training.SenderRefID : displaykey.Training.MessageID"
            required="true"
            value="SenderRefID"/>
          <RangeInput
            editable="true"
            id="ReplyType"
            label="displaykey.Training.ReplyType"
            required="true"
            value="ReplyType"
            valueRange="getArrayofReplyTypes()">
            <PostOnChange/>
          </RangeInput>
          <RangeInput
            available="ReplyType == &quot;2: Retryable Error (and retry)&quot; or ReplyType == &quot;3: Retryable Error (no retry)&quot;"
            editable="true"
            id="ErrorCategory"
            label="displaykey.Training.ErrorCategory"
            required="ReplyType == &quot;2: Retryable Error (and retry)&quot; or ReplyType == &quot;3: Retryable Error (no retry)&quot;"
            value="ErrorCategory"
            valueRange="getArrayofErrorCategories()">
            <PostOnChange/>
          </RangeInput>
          <Input
            available="Destination == &quot;Vendor Recommendation&quot; and ReplyType == &quot;1: Positive Acknowledgement&quot;"
            editable="true"
            id="VendorProfileCode"
            label="displaykey.Training.VendorProfileCode"
            required="Destination == &quot;Vendor Recommendation&quot; and ReplyType == &quot;1: Positive Acknowledgement&quot;"
            value="VendorProfileCode"/>
          <ButtonInput
            action="ResultString = trainingapp.demo.messageack.MessageAckPage.processAcknowledgement( Destination, SenderRefID, ReplyType, ErrorCategory, VendorProfileCode)"
            id="SendReply"
            value="displaykey.Training.SendReply"/>
          <Input
            id="Results"
            label="displaykey.Training.Results"
            value="ResultString"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
    <Code><![CDATA[/* This function is used to populate the Destination dynamic dropdown.
*/
function getArrayofMessageDestinations() : String[] {

  return new String[] {"Bank Account Verification", "Vendor Recommendation", "Legal Case Report", "Message Generator", "Safe Ordering Demo", "Student-Defined"}
  
}

/* This function is used to populate the ReplyType dynamic dropdown.
*/
function getArrayofReplyTypes() : String[] {

  return new String[] {"1: Positive Acknowledgement", "2: Retryable Error (and retry)", "3: Retryable Error (no retry)", "4: Non-Retryable Error", "5: Duplicate"}
}


/* This function is used to populate the ErrorCode dynamic dropdown.
*/
function getArrayofErrorCategories() : String[] {

  return new String[] {"no_connection", "database_contention", "user_authentication"}
}]]></Code>
  </Page>
</PCF>