.#{$prefix}table-form-item {
  margin-bottom: 0;
  margin-top: 2px;
}
.x-anchor-form-item{
  margin-top: 2px;
  margin-bottom: 0px;
}

.#{$prefix}item-disabled .#{$prefix}form-item-label{
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
