.#{$prefix}form-trigger-wrap{
  input.#{$prefix}form-text{
    height: 26px;
  }

  .#{$prefix}form-text{
    height: 20px;
  }
}

.#{$prefix}form-trigger{
  height:20px;
}

.x-form-date-trigger {
  height: 22px !important;
}