.#{$prefix}form-textarea{
  margin-left: 0;
}

td[id *= "utimepicker"] input.#{$prefix}form-text{
  padding: 2px 2px 1px 2px;
  text-align: center;
}
td[id *= "utimepicker"] td.#{$prefix}trigger-cell{
  width: 20px;
}

td[id *= "utimepicker"] .#{$prefix}form-spinner-up,
td[id *= "utimepicker"] .#{$prefix}form-spinner-down {
  width: 18px !important;
}
.#{$prefix}form-text {
  vertical-align: middle;
}
//revised height for inputs in lv td's
.#{$prefix}grid-editor{
  input.#{$prefix}form-text{
    height: 28px;
  }
}
input.#{$prefix}form-text {
  height: 25px;
  margin:0px;
}

.g-accordion {
  input.#{$prefix}form-text{
    padding: 0 2px 0 5px;
    width: 100%;
  }
  .#{$prefix}form-trigger-input-cell{
    width: 100%;
    background-color: #f4f3f0;
  }
  .#{$prefix}anchor-form-item{
    width: 100%;
  }
  .#{$prefix}form-trigger-wrap{
    width: 100%;
  }
  .#{$prefix}form-item-label-left{
    width: 35px;
  }
}

