<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="fixedPropertyIncident.Claim.cleanAndFinishServiceRequests(unusedServiceRequests); fixedPropertyIncident.Claim.instructNewServiceRequests()"
    canEdit="true"
    canVisit="perm.Claim.createincident(claim)"
    id="NewFixedPropertyIncidentPopup"
    returnType="FixedPropertyIncident"
    startInEditMode="true"
    title="claim.Policy.PolicyType == &quot;homeowners&quot; ? displaykey.Web.NewFixedPropertyIncident.PropertyLiability.Title : displaykey.Web.NewFixedPropertyIncident.Title">
    <LocationEntryPoint
      signature="NewFixedPropertyIncidentPopup(claim : Claim)"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Variable
      initialValue="claim.newIncident(entity.FixedPropertyIncident) as FixedPropertyIncident"
      name="fixedPropertyIncident"/>
    <Variable
      initialValue="new java.util.HashSet&lt;ServiceRequest&gt;()"
      name="unusedServiceRequests"
      type="java.util.Set&lt;ServiceRequest&gt;"/>
    <Screen
      id="NewFixedPropertyIncidentScreen">
      <TitleBar
        icon="fixedPropertyIncident.HeaderIcon"/>
      <Toolbar>
        <EditButtons
          pickValue="fixedPropertyIncident"/>
        <ToolbarDivider/>
        <PrintToolbarButton
          hideIfEditable="true"
          id="FixedPropertyIncident_PrintButton"
          label="displaykey.Button.Print"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="FixPropIncidentDetailDV(fixedPropertyIncident, unusedServiceRequests)"/>
    </Screen>
  </Popup>
</PCF>