.#{$prefix}container-inline-details{
  background-color: $gw-detailview-highlight-color;
  padding-bottom: 10px;
  border: $gw-border;
  .#{$prefix}container-default{
    background-color: transparent;
  }
}

.#{$prefix}container-highlighted{
  background-color: $gw-detailview-highlight-color;
  .#{$prefix}container-default{
    background-color: transparent;
  }
}

.#{$prefix}container-top-navigation {
  background: $container-top-nav-background-color;
  .product-logo {
    background: $product-logo-background-color;
    padding: 0;
    border-radius: 3px;
  }
  .top-navigation-divisor {
    height: 5px;
    background: $toolbar-top-info-background-color;
  }
}
.#{$prefix}header-text-container{
  font-weight: bold;

  .#{$prefix}panel-header-text{
    font-size: $gw-header-font-size;
    color: $gw-grid-header-font-color;
  }
}


.wizardleftnavmenu .#{$prefix}header-text-container .#{$prefix}panel-header-text{
  font-size: $gw-header-font-size;
  color: $gw-text-color;
}

/***********************
 *  Detail View Styles *
 ***********************/

/**
 *  Required indicator style (asterisk)
 */
.g-required .#{$prefix}form-item-label,
label.g-required
{
  background: theme-background-image('app/required') no-repeat top right;
  padding-right: 12px;
}

/**
 *  Error indicator for form fields
 */
.g-field-error .#{$prefix}form-field {
  border: 1px solid #c30;
  background: none #fef2a6;
}

/**
 *  Action Arg Input for Link under Content Input
 */
.g-content .#{$prefix}form-field-wrap {
  display:inline;
}

/**
 *  Bullet point links
 */
.g-bullet .#{$prefix}form-display-field {
  background: theme-background-image('app/grey_bullet') no-repeat bottom left;
  padding-left: 20px;
}

/**
 *  Detail View columns
 */
.g-dv-column {
  margin: 4px 0 2px 0;
  padding: 0 7px 0 10px;
}

/* TODO: consolidate and simplify divider for input columns and panel columns */
//.x-table-layout-cell + .x-table-layout-cell > .g-dv-column, /* divider between dv columns: */
.g-divider > table > tbody > tr > .#{$prefix}table-layout-cell ~ .#{$prefix}table-layout-cell /*divider between panel columns */ {
  border-left: 1px solid #a9bfd3 !important;
}
//.x-table-layout-cell + .x-table-layout-cell > .g-no-divider.g-dv-column {
//  border-left: none !important;
//}

/**
 *  Space between sibling table columns
 */
.#{$prefix}table-layout-cell + .#{$prefix}table-layout-cell {
  padding-left: 2px;

  > .g-dv-column{          /* divider between dv columns: */
    border-left: 1px solid #a9bfd3 !important;

    &.g-no-divider{
      border-left: none !important;
    }
  }
}

//.x-form-element .g-content,
//.x-form-element .g-content * {
//  overflow:auto !important;
//}

.#{$prefix}form-element{
  .g-content,
  .g-content * {
    overflow:auto !important;
  }
}

/**
 * Form Fields, Prefix, Suffix, and AltValues
 */
.g-form-altVal {
  font-size: 10px;
  clear: both;
}

.g-before-input-cell {
  //padding-right: 2px;
}

.g-after-input-cell{
  padding-left: 2px;
}

/**
 *  Right align helper icons
 */
.#{$prefix}form-field-wrap .#{$prefix}form-display-field {
  display:inline;
}

.inputdivider, .paneldivider {
  width: 100% !important;
  height: 14px;
  background-image: theme-background-image("app/divider2_bgd");
  background-repeat: repeat-x;
}

/**
 *  Disable form fields
 */
Input.#{$prefix}item-disabled { background: #ddd none; }

.gw-multiselect-invalid .#{$prefix}boundlist {
  background-color: white;
  border-color: #d94e37;
}

.#{$prefix}before-input-cell {
  //padding-right: 2px;
}

.#{$prefix}after-input-cell{
  padding-left: 2px;
}

/*
 * Error style for invalid readonly field
 */
table.#{$prefix}form-readonly.#{$prefix}form-invalid label {
  background: url(images/app/arrow1.png) no-repeat 100% 40%;
}

textarea.#{$prefix}form-textarea[readonly] {
  border: none;
  background-color: transparent;
}

/**
 *  Drill down styles
 */
.drilldownPrev,
.drilldownNext,
.drilldownParent,
.drilldownChild {
  height: 15px;
  width: 15px;
}

a{
  > .drilldownParent {
    background-image: theme-background-image("app/parent");
    cursor: pointer;
  }
  > .drilldownChild {
    background-image: theme-background-image("app/child");
    cursor: pointer;
  }
}

span{
  > .drilldownParent {
    background-image: theme-background-image("app/parent_off");
  }
  > .drilldownChild {
    background-image: theme-background-image("app/child_off");
  }
}

/*
 * InfoBar attributes
 */
.g-plain-text,
.g-plain-text * {
  cursor: text !important;
}


