<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyLocations700LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Variable
      initialValue="(SnapshotParam as snapshot.v700.Claim).Policy"
      name="Policy"
      type="snapshot.v700.Policy"/>
    <RowIterator
      canPick="false"
      editable="false"
      elementName="PolicyLocation"
      hasCheckBoxes="true"
      id="PolicyLocationIterator"
      value="Policy.PolicyLocations">
      <Row>
        <Cell
          action="ClaimSnapshotPolicyLocation700Popup.push(Claim, PolicyLocation)"
          id="Location"
          label="displaykey.Web.ClaimSnapshotPolicyLocationsLV.Location"
          value="PolicyLocation.LocationNumber"/>
        <Cell
          id="Description"
          label="displaykey.Web.ClaimSnapshotPolicyLocationsLV.Description"
          value="PolicyLocation.Address.Description"/>
        <Cell
          id="Address"
          label="displaykey.Web.ClaimSnapshotPolicyLocationsLV.Address"
          value="util.Snapshot.renderValue(PolicyLocation.Address)"/>
        <Cell
          id="Lienholders"
          label="displaykey.LV.Policy.Locations.Lienholders"
          value="util.Snapshot.renderValue(getLocationLienHolders(PolicyLocation))"/>
        <Cell
          id="HighValueItems"
          label="displaykey.LV.Policy.Locations.HasListedItems"
          value="hasListedItems(PolicyLocation)"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[function getLocationLienHolders(policyLocation : snapshot.v700.PolicyLocation) : snapshot.v700.PropertyOwner[] {
  var list = new java.util.ArrayList<snapshot.v700.PropertyOwner>()
  for (lienHolder in (policyLocation.Lienholders as snapshot.v700.PropertyOwner[])) {
    if(lienHolder.LocationBasedRU == null) {
      list.add(lienHolder)
    }
   }
  var result = new snapshot.v700.PropertyOwner[list.size()]
  return list.toArray(result)
}

function hasListedItems(policyLocation : snapshot.v700.PolicyLocation) : String {
  if((policyLocation.HighValueItems as snapshot.v700.PropertyItem[]).HasElements)
    return YesNo.TC_YES.DisplayName
  return YesNo.TC_NO.DisplayName  
}]]></Code>
  </ListViewPanel>
</PCF>