<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotInjuryIncidentScreen"
    mode="700">
    <Require
      name="IncidentParam"
      type="Object"/>
    <Variable
      initialValue="IncidentParam as snapshot.v700.InjuryIncident"
      name="InjuryIncident"
      type="snapshot.v700.InjuryIncident"/>
    <Toolbar/>
    <PanelRef
      def="ClaimSnapshotInjuryIncident700DV(IncidentParam as snapshot.v700.InjuryIncident)"/>
  </Screen>
</PCF>