<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotFixedPropertyIncidentScreen"
    mode="700">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="IncidentParam"
      type="Object"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Variable
      initialValue="IncidentParam as snapshot.v700.FixedPropertyIncident"
      name="FixedPropertyIncident"
      type="snapshot.v700.FixedPropertyIncident"/>
    <Toolbar/>
    <PanelRef
      def="ClaimSnapshotFixedPropertyIncident700DV(Claim, IncidentParam as snapshot.v700.FixedPropertyIncident)"/>
  </Screen>
</PCF>