// default
$button-small-border-radius:                2px !default;
$button-small-icon-size:                    17px;

$button-default-color:                      #FFF !default;
$button-default-color-disabled:             #FFF !default;
$button-default-color-over:                 #FFF !default;

$button-small-font-weight:                  normal !default;
$button-small-font-weight-disabled:         normal !default;

$button-small-split-width:                  20px !default;

$button-default-background-color: adjust-hue($gw-button-default-background-color, -10.75%) !default;
$button-default-background-color-over: darken( desaturate( $button-default-background-color, 1%), 8%)  !default; //#016a88
$button-default-background-color-focus: $button-default-background-color-over !default;
$button-default-background-color-pressed: darken( $button-default-background-color, 5%) !default;
$button-default-background-color-disabled: #b1b1b1 !default;

$button-default-background-gradient:          null !default;
$button-default-background-gradient-over:     null !default;
$button-default-background-gradient-focus:    null !default;
$button-default-background-gradient-pressed:  null !default;
$button-default-background-gradient-disabled: null !default;

$button-default-border-color:             $button-default-background-color !default;
$button-default-border-color-over:        $button-default-background-color-over !default;
$button-default-border-color-focus:       $button-default-background-color-focus !default;
$button-default-border-color-pressed:     $button-default-background-color-pressed !default;
$button-default-border-color-disabled:    $button-default-background-color-disabled !default;

$button-opacity-disabled: 1 !default;

// default toolbar (make it same as default button)
$button-toolbar-color:          $button-default-color !default;
$button-toolbar-color-disabled: $button-default-color-disabled !default;

$button-toolbar-background-color:           $button-default-background-color !default;
$button-toolbar-background-color-over:      $button-default-background-color-over !default;
$button-toolbar-background-color-focus:     $button-default-background-color-focus !default;
$button-toolbar-background-color-pressed:   $button-default-background-color-pressed !default; 
$button-toolbar-background-color-disabled:  $button-default-background-color-disabled !default;

$button-toolbar-background-gradient:           $button-default-background-gradient !default;
$button-toolbar-background-gradient-over:      $button-default-background-gradient-over !default;
$button-toolbar-background-gradient-focus:     $button-default-background-gradient-focus !default;
$button-toolbar-background-gradient-pressed:   $button-default-background-gradient-pressed !default;
$button-toolbar-background-gradient-disabled:  $button-default-background-gradient-disabled !default;

$button-toolbar-border-color:           $button-default-border-color !default;
$button-toolbar-border-color-over:      $button-default-border-color-over !default;
$button-toolbar-border-color-focus:     $button-default-border-color-focus !default;
$button-toolbar-border-color-pressed:   $button-default-border-color-pressed !default;
$button-toolbar-border-color-disabled:  $button-default-border-color-disabled !default;

$button-toolbar-opacity-disabled: $button-opacity-disabled !default;

// action
$button-action-border-radius: 3px !default;
$button-action-icon-size:     20px !default;
$button-action-padding:       7px 7px !default;

$button-action-background-color:          #f8f8f8 !default;
$button-action-background-color-over:     $button-action-background-color !default;
$button-action-background-color-focus:    $button-action-background-color !default;
$button-action-background-color-pressed:  $button-action-background-color !default;
$button-action-background-color-disabled: $button-action-background-color !default;

$button-action-border-color:          silver !default;
$button-action-border-color-over:     $button-default-background-color !default;
$button-action-border-color-focus:    $button-action-border-color-over !default;
$button-action-border-color-pressed:  $button-action-border-color-over !default;
$button-action-border-color-disabled: $button-action-border-color !default;

$button-action-background-gradient:           null !default;
$button-action-background-gradient-over:      $button-action-background-gradient !default;
$button-action-background-gradient-focus:     $button-action-background-gradient-over !default;
$button-action-background-gradient-pressed:   $button-action-background-gradient !default;
$button-action-background-gradient-disabled:  $button-action-background-gradient !default;

$button-action-font-size:           18px !default;
$button-action-font-size-over:      $button-action-font-size !default;
$button-action-font-size-focus:     $button-action-font-size !default;
$button-action-font-size-pressed:   $button-action-font-size !default;
$button-action-font-size-disabled:  $button-action-font-size !default;

$button-action-color: $button-default-background-color !default;
$button-action-color-over:      $button-action-color !default;
$button-action-color-focus:     $button-action-color !default;
$button-action-color-pressed:   $button-action-color !default;
$button-action-color-disabled:  $button-action-color !default;

