<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="TransactionEditWrapperExchangeRateInputSet"
    visible="util.CurrencyUtil.isMultiCurrencyMode() and transaction.Currency != transaction.ReservingCurrency">
    <Require
      name="transactionEditWrapper"
      type="TransactionEditWrapper"/>
    <Variable
      initialValue="transactionEditWrapper.Transaction"
      name="transaction"
      type="Transaction"/>
    <BooleanRadioInput
      editable="perm.ExchangeRate.edit"
      falseLabel="displaykey.Web.Claim.TransactionEditWrapperExchangeRateInputSet.Automatic"
      id="ManualOrAutomatic"
      label="displaykey.Web.Claim.TransactionEditWrapperExchangeRateInputSet.ExchangeRateMode"
      trueLabel="displaykey.Web.Claim.TransactionEditWrapperExchangeRateInputSet.Manual"
      value="transactionEditWrapper.OverrideExchangeRate">
      <PostOnChange/>
    </BooleanRadioInput>
    <TextInput
      editable="transaction.OverrideTransToReservingExchangeRate"
      format="var rate = transaction.TransToReservingExchangeRate; return &quot;1 &quot; + rate.BaseCurrency.DisplayName + &quot; = #.###### &quot; + rate.PriceCurrency.DisplayName;"
      formatType="exactNumber"
      id="ExchangeRate"
      label="displaykey.Web.Claim.TransactionEditWrapperExchangeRateInputSet.ExchangeRate"
      numCols="8"
      value="transactionEditWrapper.ExchangeRateRate">
      <PostOnChange/>
    </TextInput>
    <Input
      editable="transaction.OverrideTransToReservingExchangeRate"
      id="Description"
      label="displaykey.Web.Claim.TransactionEditWrapperExchangeRateInputSet.RateSetDescription"
      value="transaction.TransToReservingExchangeRate.ExchangeRateSet.Description"/>
    <DateInput
      id="Date"
      label="displaykey.Web.Claim.TransactionEditWrapperExchangeRateInputSet.ExchangeRateDate"
      value="transaction.TransToReservingExchangeRate.ExchangeRateSet.EffectiveDate"/>
  </InputSet>
</PCF>