<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="WCBenefitFactorsLV">
    <ExposeIterator
      valueType="entity.WCBenefitFactorDetail"
      widget="WCBenefitFactor"/>
    <Require
      name="WCBenefitParameterSet"
      type="WCBenefitParameterSet"/>
    <RowIterator
      editable="true"
      elementName="WCBenefitFactorDetail"
      hideCheckBoxesIfReadOnly="true"
      id="WCBenefitFactor"
      toAdd="WCBenefitParameterSet.addToWCBenefitFactors(WCBenefitFactorDetail )"
      toRemove="WCBenefitParameterSet.removeFromWCBenefitFactors( WCBenefitFactorDetail )"
      value="WCBenefitParameterSet.WCBenefitFactors">
      <Row>
        <TypeKeyCell
          editable="true"
          id="FactorCategory"
          label="displaykey.LV.Admin.WCBenefitFactor.FactorCategory"
          value="WCBenefitFactorDetail.FactorCategory"/>
        <TypeKeyCell
          editable="true"
          id="DetailedFactor"
          label="displaykey.LV.Admin.WCBenefitFactor.DetailedFactor"
          required="true"
          value="WCBenefitFactorDetail.DetailedFactor"/>
        <Cell
          editable="true"
          id="Units"
          label="displaykey.LV.Admin.WCBenefitFactor.Units"
          value="WCBenefitFactorDetail.FactorValue"/>
        <TextCell
          editable="true"
          id="FactorComment"
          label="displaykey.LV.Admin.WCBenefitFactor.Comment"
          maxChars="40"
          value="WCBenefitFactorDetail.FactorComment"
          valueVisible="WCBenefitFactorDetail.DetailedFactor == &quot;other&quot; "
          visible="true"/>
        <CheckBoxCell
          editable="true"
          id="AppliesToTTD"
          label="displaykey.LV.Admin.WCBenefitFactor.TTD"
          value="WCBenefitFactorDetail.AppliesToTTD"/>
        <CheckBoxCell
          editable="true"
          id="AppliesToTPD"
          label="displaykey.LV.Admin.WCBenefitFactor.TPD"
          value="WCBenefitFactorDetail.AppliesToTPD"/>
        <CheckBoxCell
          editable="true"
          id="AppliesToPTD"
          label="displaykey.LV.Admin.WCBenefitFactor.PTD"
          value="WCBenefitFactorDetail.AppliesToPTD"/>
        <CheckBoxCell
          editable="true"
          id="AppliesToPPD"
          label="displaykey.LV.Admin.WCBenefitFactor.PPD"
          value="WCBenefitFactorDetail.AppliesToPPD"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
