<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    closeOnLeaveScope="true"
    countsAsWork="false"
    desc="Creates an area on a page that allows users to see the claims contributing to an aggregate limit while still looking at other aggregate limits in the list."
    id="AggregateLimitClaimsWorksheet"
    showUpLink="true"
    tabLabel="displaykey.LV.Policy.AggregateLimits.Details"
    title="displaykey.LITERAL(&quot;&quot;)">
    <LocationEntryPoint
      signature="AggregateLimitClaimsWorksheet(ParentClaim : Claim, AggregateLimit : AggregateLimit)"/>
    <Scope
      location="ClaimPolicyAggregateLimits(ParentClaim)"/>
    <Variable
      name="ParentClaim"
      type="Claim"/>
    <Variable
      name="AggregateLimit"
      type="AggregateLimit"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="ToolbarButton"
          label="displaykey.Button.Close"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <Input
            id="lid"
            labelAbove="true"
            value="displaykey.LV.Policy.AggregateLimits.ContributingClaims.ExplanationText"/>
          <Input
            id="lid1"
            labelAbove="true"
            value="displaykey.LV.Policy.AggregateLimits.CalculationUsedForRealized(AggregateLimit.FinancialsCalculationDescription)"
            visible="AggregateLimit.PolicyPeriod.PolicyPeriodType == typekey.PolicyPeriodType.TC_POLICY"/>
          <ListViewInput
            def="AggregateLimitClaimsLV(AggregateLimit.ApplicableNonZeroClaimAggregateLimitRpts, AggregateLimit)"
            hideIfEditable="true"
            id="agglimitsListView"
            labelAbove="true">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Worksheet>
</PCF>