<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="PolicyRefreshExistingVehicleRULV">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="policySummary"
      type="PolicySummary"/>
    <RowIterator
      canPick="false"
      checkBoxVisible="false"
      editable="true"
      elementName="riskUnitWrapper"
      hasCheckBoxes="true"
      value="gw.pcf.policyrefresh.PolicyRefreshRiskUnitWrapper.createWrapper(claim.Policy.RiskUnits.where(\ r -&gt; r typeis VehicleRU), policySummary)">
      <Variable
        initialValue="(riskUnitWrapper.RiskUnit as VehicleRU).Vehicle"
        name="vehicle"
        type="Vehicle"/>
      <ToolbarFlag
        name="vehicle"/>
      <Row>
        <Cell
          align="center"
          id="Present"
          label="displaykey.Web.PolicyRefresh.PresentOnNewPolicy"
          value="riskUnitWrapper.MatchedString"
          width="100"/>
        <Cell
          id="VehicleNumber"
          label="displaykey.LV.Policy.Vehicles.Number"
          sortOrder="1"
          value="riskUnitWrapper.RiskUnit.RUNumber"/>
        <Cell
          id="Vin"
          label="displaykey.LV.Policy.Vehicles.VIN"
          value="vehicle.Vin"/>
        <Cell
          id="Make"
          label="displaykey.LV.Policy.Vehicles.Make"
          value="vehicle.Make"/>
        <Cell
          id="Model"
          label="displaykey.LV.Policy.Vehicles.Model"
          value="vehicle.Model"/>
        <Cell
          id="Color"
          label="displaykey.LV.Policy.Vehicles.Color"
          value="vehicle.Color"/>
        <Cell
          id="LicencePlate"
          label="displaykey.LV.Policy.Vehicles.LicensePlate"
          value="vehicle.LicensePlate"/>
        <TypeKeyCell
          id="State"
          label="displaykey.LV.Policy.Vehicles.State"
          value="vehicle.State"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>