/***
 *  @class Ext.toolbar.Toolbar
 *   - SASS variables that customize the toolbar top tabs (Top Navigation) and Info-bar
 */

/***
 *  @var { color }  $toolbar-top-tabs-background-color
 *  color value for toolbar top tabs background, aka Top Navigation menu items
 */
  $toolbar-top-tabs-background-color: $gw-top-nav-background-color !default;

/***
 *  @var { string } $toolbar-top-tabs-btn-inner-font-size
 *  font-size value for the top tabs buttons, aka Top Navigation menu buttons
 */
  $toolbar-top-tabs-btn-inner-font-size: 12px !default;

/***
 *  @var { color } $toolbar-top-tabs-btn-inner-color
 *  text color value for non-active top tabs
 */
  $toolbar-top-tabs-btn-inner-color: $gw-text-color !default;

/***
 *  @var { string } $toolbar-top-tabs-btn-inner-font-weight
 *  font-weight for toolbar top tabs, aka Top Navigation menu items
 */
  $toolbar-top-tabs-btn-inner-font-weight: normal !default;

/***
 *  @var { string } $toolbar-top-tabs-btn-inner-font-family
 *  font-family for top tabs buttons, aka Top Navigation menu items
 */
  $toolbar-top-tabs-btn-inner-font-family: $font-family;

/***
 *  @var { color } $toolbar-top-tabs-btn-inner-over
 *  text color for top tabs buttons, aka Top Navigation, during parent element's hover, or 'over' state
 */
  $toolbar-top-tabs-btn-inner-over: #fff !default;

/***
 *  @var { color } $toolbar-top-tabs-btn-inner-border-right
 *  color of separator between top tabs button label and the drop down arrow
 */
  $toolbar-top-tabs-btn-inner-border-right-color: $base-light-color !default;

/***
 *  @var { color } $toolbar-top-tabs-active-background-color
 *  background color for active top tabs button, aka active top navigation menu item
 */
  $toolbar-top-tabs-active-background-color: $gw-top-nav-base-color !default;

/***
 *  @var { color } $toolbar-top-tabs-active-inner-color
 *  text color for active top tab, aka active top navigation menu label
 */
  $toolbar-top-tabs-active-inner-color: $gw-top-nav-background-color !default;

/***
 *  @var { number } $toolbar-horizontal-spacing
 *  horizontal spacing value for toolbar menu elements;
 *  sometimes applied as padding or margin, sometimes split and applied to left and right
 */
  $toolbar-horizontal-spacing: 7px !default;

/***
 *  @var { color }  $container-top-nav-background-color
 *  background color for top tabs (top navigation) container
 */
  $container-top-nav-background-color: $toolbar-top-tabs-background-color; //Container top nav container.Container.scss

/***
 *  @var { color } $toolbar-top-tabs-btn-inner-disabled-color
 *  text color for disabled top tabs
 */
  $toolbar-top-tabs-btn-inner-disabled-color: $gw-top-nav-disabled-color !default;


/***
 *  @var { color } $toolbar-top-links-background-color
 *  background color for top tabs links, aka top navigation far right buttons - 'unsaved work' and 'settings'
 */
  $toolbar-top-links-background-color: $gw-top-nav-light-color !default;

/***
 *  @var { color } $toolbar-top-links-btn-over-background-color
 *  background color for top tabs links menu button during '-over' state
 */
  $toolbar-top-links-btn-over-background-color: $gw-top-nav-dark-color !default;

/***
 *  @var { color } $toolbar-top-links-btn-menu-active-background-color
 *  background color for top tabs links menu buttons during '-active' state
 */
  $toolbar-top-links-btn-menu-active-background-color: $gw-top-nav-dark-color !default;

/***
 *  @var { color } $toolbar-sm-btn-over-textColor
 *  text color for top tabs menu items, aka top navigation, during '-over' state
 */
  $toolbar-sm-btn-over-textColor: $toolbar-top-tabs-btn-inner-over !default;

/***
 *  @var { color } $toolbar-sm-btn-over-background-color
 *  background color for toolbar buttons '-over' state
 */
  $toolbar-sm-btn-over-background-color: $gw-top-nav-dark-color !default;

/***
 *  @var { color } $toolbar-top-info-btn-inner-color
 *  text color for info bar button text labels
 */
  $toolbar-top-info-btn-inner-color: $gw-top-nav-light-color !default;

/***
 *  @var { color } $toolbar-top-info-background-color
 *  background color for top info bar
 */
  $toolbar-top-info-background-color: #505050 !default;

/***
 *  @var { string } $toolbar-top-info-background-gradient
 *  background gradient color-stop values for top info bar
 */
  $toolbar-top-info-background-gradient: color-stops(#363636, #505050 20%) !default;

/***
 *  @var { color } $product-logo-background-color
 *  background color for product logo in top navigation
 */
  $product-logo-background-color: $container-top-nav-background-color;

  $toolbar-text-color: $gw-toolbar-text-color;

  $toolbar-background-color: $gw-background-color !default;