<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="ActivityPatternDetailScreen">
    <Require
      name="ActivityPattern"
      type="ActivityPattern"/>
    <Toolbar>
      <EditButtons
        editVisible="perm.ActivityPattern.edit"/>
      <ToolbarButton
        action="gw.api.admin.BaseAdminUtil.deleteActivityPattern(ActivityPattern); ActivityPatterns.go()"
        available=" !ActivityPattern.SystemPattern and perm.ActivityPattern.delete"
        hideIfEditable="true"
        id="ActivityPatternDetailScreen_DeleteButton"
        label="displaykey.Button.Delete"
        visible="perm.ActivityPattern.delete"/>
    </Toolbar>
    <PanelRef
      def="AdminActivityPatternDV(ActivityPattern)"/>
    <PanelRef
      def="LocalizedValuesDV(ActivityPattern, { &quot;Subject&quot;, &quot;ShortSubject&quot;, &quot;Description&quot;}, { displaykey.Web.Admin.ActivityPatternLocalizedLV.Subject, displaykey.Web.Admin.ActivityPatternLocalizedLV.ShortSubject, displaykey.Web.Admin.ActivityPatternLocalizedLV.Description})"
      id="LocalizedValues"/>
  </Screen>
</PCF>