.#{$prefix}container-top-navigation {
  background: $container-top-nav-bgColor;
  .product-logo {
    background: $product-logo-bgColor;
    padding: 0;
    border-radius: 3px;
  }
  .top-navigation-divisor {
    height: 5px;
    background: $toolbar-top-info-background-color;
  }
}
.#{$prefix}header-text-container{
  font-weight: bold;

  .#{$prefix}panel-header-text{
    font-size: 16px;
    color: #999;
  }
}


.wizardleftnavmenu .#{$prefix}header-text-container .#{$prefix}panel-header-text{
  font-size: 16px;
  color: $gwBlackTextColor;
}
.#{$prefix}container-inline-details{
  background-color: $dv-highlight-color;
  padding-bottom: 10px;
  border: 1px solid silver;
  .#{$prefix}container-default{
    background-color: transparent;
  }
}

.#{$prefix}container-highlighted{
  background-color: $dv-highlight-color;
  .#{$prefix}container-default{
      background-color: transparent;
    }
}
