<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="InjuryAndFixedPropertyIncidentsPanelSet">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="wizard"
      type="gw.api.claim.NewClaimWizardInfo"/>
    <Variable
      initialValue="claim.InjuryIncidentsOnly"
      name="injuryIncidents"
      recalculateOnRefresh="true"
      type="entity.InjuryIncident[]"/>
    <Variable
      initialValue="gw.api.claim.IncidentUIHelpers.INJURY"
      name="injuryIncidentUIHelper"
      type="gw.api.claim.IncidentUIHelper"/>
    <Variable
      initialValue="claim.FixedPropertyIncidentsOnly"
      name="propertyIncidents"
      recalculateOnRefresh="true"
      type="entity.PropertyIncident[]"/>
    <Variable
      initialValue="gw.api.claim.IncidentUIHelpers.PROPERTY_LIABILITY"
      name="propertyIncidentUIHelper"
      type="gw.api.claim.IncidentUIHelper"/>
    <PanelRow>
      <PanelColumn
        visible="injuryIncidents.HasElements">
        <PanelIterator
          elementName="injuryIncident"
          id="InjuryIncidentIterator"
          value="injuryIncidents"
          valueType="entity.InjuryIncident[]">
          <DetailViewPanel
            border="true"
            columnDivider="false"
            inline="true"
            width="320px">
            <InputColumn
              width="30px">
              <Label
                icon="injuryIncidentUIHelper.Icons.getPanelIcon(injuryIncident)"
                iconType="svgFileName"
                id="InjuryIncidentIcon"/>
            </InputColumn>
            <InputColumn
              width="250px">
              <TextInput
                action="injuryIncidentUIHelper.viewIncident(injuryIncident, CurrentLocation.InEditMode, wizard)"
                boldValue="true"
                hideChildrenIfReadOnly="false"
                id="InjuryName"
                labelAbove="true"
                value="injuryIncidentUIHelper.getInstanceDisplayName(injuryIncident)">
                <MenuItem
                  action="injuryIncidentUIHelper.viewIncident(injuryIncident, true, wizard)"
                  id="EditIncident"
                  label="injuryIncidentUIHelper.EditLabel"
                  visible="perm.Incident.edit(injuryIncident)"/>
                <MenuItem
                  action="injuryIncidentUIHelper.removeIncident(claim, injuryIncident, CurrentLocation, wizard)"
                  confirmMessage="injuryIncidentUIHelper.RemoveConfirmMsg"
                  id="RemoveIncident"
                  label="injuryIncidentUIHelper.RemoveLabel"
                  visible="(!injuryIncident.UsedByExposure) and perm.Incident.edit(injuryIncident)"/>
              </TextInput>
              <TextAreaInput
                id="InjuryDescription"
                labelAbove="true"
                value="injuryIncident.Description"
                visible="injuryIncident.Description.HasContent"/>
            </InputColumn>
          </DetailViewPanel>
          <Spacer
            height="8px"/>
        </PanelIterator>
      </PanelColumn>
      <PanelColumn
        visible="propertyIncidents.HasElements">
        <PanelIterator
          elementName="propertyIncident"
          id="PropertyIncidentIterator"
          value="propertyIncidents"
          valueType="entity.PropertyIncident[]">
          <DetailViewPanel
            border="true"
            columnDivider="false"
            inline="true"
            width="320px">
            <InputColumn
              width="30px">
              <Label
                icon="propertyIncidentUIHelper.Icons.getPanelIcon(propertyIncident)"
                iconType="svgFileName"
                id="PropertyIncidentIcon"/>
            </InputColumn>
            <InputColumn
              width="250px">
              <TextInput
                action="propertyIncidentUIHelper.viewIncident(propertyIncident, CurrentLocation.InEditMode, wizard) "
                boldValue="true"
                hideChildrenIfReadOnly="false"
                id="PropertyName"
                labelAbove="true"
                value="propertyIncidentUIHelper.getInstanceDisplayName(propertyIncident).elide(25)">
                <MenuItem
                  action="propertyIncidentUIHelper.viewIncident(propertyIncident, true, wizard)"
                  id="EditIncident"
                  label="propertyIncidentUIHelper.EditLabel"
                  visible="perm.Incident.edit(propertyIncident)"/>
                <MenuItem
                  action="propertyIncidentUIHelper.removeIncident(claim, propertyIncident, CurrentLocation, wizard)"
                  confirmMessage="propertyIncidentUIHelper.RemoveConfirmMsg"
                  id="RemoveIncident"
                  label="propertyIncidentUIHelper.RemoveLabel"
                  visible="(!propertyIncident.UsedByExposure) and perm.Incident.edit(propertyIncident)"/>
              </TextInput>
              <TextAreaInput
                id="PropertyDescription"
                labelAbove="true"
                value="propertyIncident.Description"
                visible="propertyIncident.Description.HasContent"/>
            </InputColumn>
          </DetailViewPanel>
          <Spacer
            height="8px"/>
        </PanelIterator>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>