<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="ServiceRequestInvoiceInputSet"
    mode="single">
    <Require
      name="Wizard"
      type="financials.CheckWizardInfo"/>
    <Require
      name="showDocuments"
      type="boolean"/>
    <Variable
      initialValue="Wizard.Check.ServiceRequestInvoices.single()"
      name="invoice"/>
    <Label
      label="displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.Title"/>
    <Input
      id="ServiceRequestInvoiceReferenceNumber"
      label="displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.InvoiceReferenceNumber"
      value="invoice.ReferenceNumber.HasContent ? invoice.ReferenceNumber : displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.InvoiceReferenceNumberMissing"/>
    <Input
      id="ServiceRequestNumber"
      label="displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.ServiceNumber"
      value="invoice.ServiceRequest.ServiceRequestNumber"/>
    <Input
      id="ServiceRequestInvoiceAmount"
      label="displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.Amount"
      value="invoice.Amount"/>
    <ListViewInput
      boldLabel="true"
      id="ServiceRequestInvoiceDocuments"
      label="displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.Documents"
      labelAbove="true"
      visible="showDocuments">
      <Toolbar/>
      <ListViewPanel>
        <RowIterator
          canPick="false"
          editable="false"
          elementName="statementDocumentLinkPair"
          value="invoice.ViewableDocumentLinksAndDocuments">
          <Variable
            initialValue="statementDocumentLinkPair.Second"
            name="document"
            type="Document"/>
          <Row>
            <Cell
              id="Name"
              label="displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.DocumentsLV.Name"
              value="document.Name"/>
            <LinkCell
              id="View"
              label="displaykey.LV.Claim.Documents.Document.ViewAndEdit.View">
              <DocumentLink
                document="document"
                documentAction="viewRepositoryVersion"
                id="DocumentsLV_ViewLink"
                label="displaykey.NVV.Financials.NewCheck.Check.ServiceRequestInvoice.DocumentsLV.View"
                styleClass="miniButton"
                visible="document.DMS"/>
            </LinkCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </ListViewInput>
  </InputSet>
</PCF>