<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canEdit="perm.Claim.edit(Claim)and perm.System.editsubrodetails"
    canVisit="perm.Claim.view(Claim) and perm.System.viewsubrodetails"
    id="SubrogationGeneral"
    title="DisplayKey.get(&quot;Web.Claim.Subro&quot;)"
    validationParameter="Claim">
    <LocationEntryPoint
      signature="SubrogationGeneral(Claim : Claim)"/>
    <LocationEntryPoint
      signature="SubrogationGeneral(Claim : Claim, selectSubrogationFinancialsCard : boolean)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="selectSubrogationFinancialsCard"
      type="boolean"/>
    <Screen
      id="ClaimSubroSummaryScreen">
      <PanelRef
        def="SubrogationMainPanelSet(Claim, selectSubrogationFinancialsCard)"/>
    </Screen>
  </Page>
</PCF>