<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="ReserveLineInputSet">
    <Require
      name="transaction"
      type="Transaction"/>
    <Require
      name="helper"
      type="gw.api.financials.ReserveLineInputSetHelper"/>
    <Variable
      initialValue="helper.wrap(transaction)"
      name="wrapper"
      recalculateOnRefresh="true"
      type="financials.ReserveLineInputSetWrapper"/>
    <RangeInput
      editable="true"
      id="ReserveLine"
      label="displaykey.Web.Financials.ReserveLineInputSet.ReserveLine"
      required="true"
      value="wrapper.ReserveLine"
      valueRange="wrapper.ReserveLineOptions">
      <PostOnChange/>
    </RangeInput>
    <RangeInput
      editable="true"
      id="Exposure"
      label="displaykey.Web.Financials.ReserveLineInputSet.Exposure"
      required="true"
      value="wrapper.Exposure"
      valueRange="wrapper.ExposureOptions"
      visible="wrapper.NewReserveLineSelected">
      <PostOnChange/>
    </RangeInput>
    <TypeKeyInput
      id="Coverage"
      label="displaykey.Web.Financials.ReserveLineInputSet.Coverage"
      value="wrapper.Coverage"/>
    <RangeInput
      editable="true"
      id="Matter"
      label="displaykey.Web.Financials.ReserveLineInputSet.Matter"
      required="true"
      value="wrapper.Matter"
      valueRange="wrapper.MatterOptions"
      visible="wrapper.MatterVisible"/>
    <RangeInput
      editable="true"
      id="CostType"
      label="displaykey.Web.Financials.ReserveLineInputSet.CostType"
      required="true"
      value="wrapper.CostType"
      valueRange="wrapper.CostTypeOptions"
      visible="wrapper.NewReserveLineSelected">
      <PostOnChange/>
    </RangeInput>
    <RangeInput
      editable="true"
      id="CostCategory"
      label="displaykey.Web.Financials.ReserveLineInputSet.CostCategory"
      required="true"
      value="wrapper.CostCategory"
      valueRange="wrapper.CostCategoryOptions"
      visible="wrapper.NewReserveLineSelected">
      <PostOnChange/>
    </RangeInput>
    <TypeKeyInput
      editable="wrapper.ReservingCurrencyEditable"
      id="ReservingCurrency"
      label="displaykey.Web.Financials.ReserveLineInputSet.ReservingCurrency"
      required="true"
      value="wrapper.ReservingCurrency"
      visible="wrapper.NewReserveLineSelected and gw.util.CCConfigUtil.AllowExplicitReservingCurrency">
      <PostOnChange/>
    </TypeKeyInput>
  </InputSet>
</PCF>
