<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    afterEnter="gw.api.claim.ClaimUtil.addToSessionList(Claim); gw.api.claim.ClaimUtil.markClaimAsViewed(Claim);"
    browserTitle="DisplayKey.get(&quot;Web.Claim.WindowTitle&quot;, Claim.ClaimNumber)"
    id="Claim"
    infoBar="ClaimInfoBar(Claim)"
    menuActions="ClaimMenuActions(Claim)"
    parent="ClaimForward(Claim)"
    title="DisplayKey.get(&quot;Web.ClaimFile.LocationGroup.Title&quot;, Claim.ClaimNumber)">
    <LocationEntryPoint
      signature="Claim(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="new gw.api.exposure.ExposureMenuListUIHelper()"
      name="exposureUIHelper"
      type="gw.api.exposure.ExposureMenuListUIHelper"/>
    <LocationRef
      icon="&quot;summary&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Summary&quot;)"
      location="ClaimSummaryGroup(Claim)"
      shortcut="1"/>
    <LocationRef
      icon="&quot;workplan&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Workplan&quot;)"
      location="ClaimWorkplan(Claim)"
      shortcut="2"/>
    <LocationRef
      icon="&quot;loss_details&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.LossDetails&quot;)"
      location="ClaimLossDetailsGroup(Claim)"
      shortcut="3"/>
    <LocationRef
      icon="&quot;exposures&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Exposures&quot;)"
      location="ClaimExposures(Claim)"
      shortcut="4"/>
    <LocationRefIterator
      elementName="Exposure"
      value="Claim.OrderedExposures"
      valueType="entity.Exposure[]"
      visible="(Claim.ExposureListVisibleInClaimFile) or gw.config.LOBAbstraction.ForClaim.ForLossType.isWorkComp(Claim)">
      <LocationRef
        icon="exposureUIHelper.getIconForExposureType(Exposure)"
        iconType="svgFileName"
        label="DisplayKey.get(&quot;JSP.ClaimPageLinks.DynamicPageLinks.Exposure&quot;, Exposure.ExposureType)"
        location="TopLevelExposureDetail(Exposure)"/>
    </LocationRefIterator>
    <LocationRef
      icon="&quot;reinsurance&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Reinsurance&quot;)"
      location="ReinsuranceSummary(Claim)"/>
    <LocationRef
      icon="&quot;parties_involved&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.PeopleInvolved&quot;)"
      location="ClaimPartiesGroup(Claim)"
      shortcut="5"/>
    <LocationRef
      icon="&quot;policy_nav&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Policy&quot;)"
      location="ClaimPolicyGroup(Claim)"
      shortcut="6"/>
    <LocationRef
      icon="&quot;financials&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Financials&quot;)"
      location="ClaimFinancialsGroup(Claim)"
      shortcut="7"/>
    <LocationRef
      icon="&quot;notes&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Notes&quot;)"
      location="ClaimNotes(Claim)"
      shortcut="8"/>
    <LocationRef
      icon="&quot;documents_nav&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Documents&quot;)"
      location="ClaimDocuments(Claim)"
      shortcut="9"/>
    <LocationRef
      icon="&quot;plan_of_action&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Settlement&quot;)"
      location="ClaimPlanOfActionGroup(Claim)"
      shortcut="0"/>
    <LocationRef
      icon="&quot;services&quot;"
      iconType="svgFileName"
      location="ClaimServiceRequests(Claim)"/>
    <LocationRef
      icon="&quot;subrogations_nav&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Subro&quot;)"
      location="ClaimSubrogationGroup(Claim)"
      shortcut="u"/>
    <LocationRef
      icon="&quot;litigation_nav&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Litigation&quot;)"
      location="ClaimMatters(Claim)"
      shortcut="-"/>
    <LocationRef
      icon="&quot;history&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.History&quot;)"
      location="ClaimHistory(Claim)"
      shortcut="="/>
    <LocationRef
      icon="gw.config.LOBAbstraction.ForClaim.ForLossType.isWorkComp(Claim) ? &quot;froi_snapshot&quot; : &quot;fnol_snapshot&quot;"
      iconType="svgFileName"
      label="gw.config.LOBAbstraction.ForClaim.ForLossType.isWorkComp(Claim) ? DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.FirstReportOfInjurySnapshot&quot;) : DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Snapshot&quot;)  "
      location="ClaimSnapshotGroup(Claim)"/>
    <LocationRef
      icon="&quot;calendar_nav&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;JSP.ClaimPageLinks.PageLink.Calendar&quot;)"
      location="ClaimCalendarGroup(Claim)"
      shortcut="c"/>
  </LocationGroup>
</PCF>