/**
 * @var {color} $form-field-focus-border-color
 * In the default neptune color scheme this is the same as $base-highlight-color
 * but it does not change automatically when one changes the $base-color.  This is because
 * checkboxes and radio buttons have this focus color hard coded into their background
 * images.  If this color is changed, you should also modify checkbox and radio button
 * background images to match
 */
$form-field-focus-border-color: $base-highlight-color !default; //todo: mix to #3892d3

/**
 * @var {color} $form-field-background-color
 * Background color for form fields.
 */
$form-field-background-color: $gw-form-field-background-color !default;

/**
 * @var {color} $form-field-invalid-background-color
 * Background color for invalid form fields.
 */
$form-field-invalid-background-color: #fee !default;
$form-field-padding: $gw-form-field-vertical-padding 3px !default;

/**
 *  @var { number }
 *  value for form field height
 */
$form-field-height: 25px !default;

