<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="CCRulesListScreen">
    <Require
      name="context"
      type="gw.bizrules.CCRulesNavigationContext"/>
    <Variable
      initialValue="context.PageHelper"
      name="pageHelper"
      type="gw.bizrules.CCRulesListPageHelper"/>
    <Variable
      initialValue="false"
      name="areSearchFieldsVisible"
      type="Boolean"/>
    <Variable
      initialValue="context.RuleFilterCriteria"
      name="filterCriteria"
      type="gw.bizrules.CCRuleFilterCriteria"/>
    <Variable
      initialValue="pageHelper.RuleTypeReference"
      name="ruleType"
      type="gw.bizrules.CCRuleTypeReference"/>
    <Variable
      initialValue="pageHelper.getCheckedValuesRuleVersionsAccessor(CurrentLocation, &quot;Rules&quot;)"
      name="checkedValuesRuleVersionsAccessor"
      type="gw.bizrules.pcf.RuleListPageHelper.IteratorCheckedValuesRuleVersionAccessor"/>
    <Toolbar>
      <ToolbarButtonSetRef
        iterators="Rules"
        toolbarButtonSet="CreateRuleToolbarButtonSet(context, checkedValuesRuleVersionsAccessor, ruleType)"/>
      <ToolbarButtonSetRef
        iterators="Rules"
        toolbarButtonSet="DeployRulesToolbarButtonSet(context, checkedValuesRuleVersionsAccessor, filterCriteria.Status?.createVersionQuery(filterCriteria), ruleType, pageHelper)"/>
      <ToolbarButton
        available="pageHelper.CsvButtonsAvailable"
        id="BulkEdit"
        label="DisplayKey.get(&quot;Web.BizRules.Rule.BulkEdit&quot;)"
        visible="context.RuleType == typekey.Rule.TC_RESERVERULE and not gw.bizrules.system.BizRulesConfigParameters.BizRulesDeploymentEnabled.Value">
        <MenuItem
          action="StartRuleCsvImportPopup.push(context, pageHelper)"
          id="ImportFromCsv"
          label="DisplayKey.get(&quot;Web.BizRules.Rule.ImportFromCsv&quot;)"/>
        <MenuItem
          action="gw.bizrules.csv.CsvFileDownloaderFactory.downloaderFor(context.RuleType).download()"
          download="true"
          id="ExportToCsv"
          label="DisplayKey.get(&quot;Web.BizRules.Rule.ExportToCsv&quot;)"/>
      </ToolbarButton>
      <CheckedValuesToolbarButton
        allCheckedRowsAction="gw.bizrules.csv.CsvFileDownloaderFactory.downloaderFor(context.RuleType).download(CheckedValues)"
        available="pageHelper.CsvButtonsAvailable"
        download="true"
        id="ExportSelectedToCsv"
        iterator="Rules"
        label="DisplayKey.get(&quot;Web.BizRules.Rule.BulkEditSelected&quot;)"
        visible="context.RuleType == typekey.Rule.TC_RESERVERULE and not gw.bizrules.system.BizRulesConfigParameters.BizRulesDeploymentEnabled.Value">
      </CheckedValuesToolbarButton>
      <ToolbarButton
        id="MoreButton"
        label="DisplayKey.get('BizRules.RulesPage.MoreButton')">
        <MenuItemSetRef
          def="RuleListMoreButtonMenuItemSet(context, checkedValuesRuleVersionsAccessor, filterCriteria.Status?.createVersionQuery(filterCriteria), ruleType, pageHelper, context.UIConfigs)"/>
      </ToolbarButton>
      <ToolbarButton
        action="areSearchFieldsVisible = !areSearchFieldsVisible"
        id="ShowHideFilter"
        label="areSearchFieldsVisible ? DisplayKey.get('Web.BizRules.Filter.HideFilter') : filterCriteria.Specified ? DisplayKey.get('Web.BizRules.Filter.EditFilter') : DisplayKey.get('Web.BizRules.Filter.ShowFilter')"/>
      <ToolbarInput
        id="ValidationStatusToolbarInput"
        value="pageHelper.getTotalFilteredCountMessage(filterCriteria.Status?.createVersionQuery(filterCriteria), filterCriteria.Specified)"
        valueType="java.lang.String"/>
    </Toolbar>
    <AlertBar
      allowDismiss="false"
      id="RollingUpgradeAlert"
      label="DisplayKey.get('BizRules.RulesPage.Alert.RollingUpgradeInProgress')"
      visible="gw.bizrules.management.BizRulesRollingUpgradeManager.Instance.RollingUpgradeProcessStartedInDB and pageHelper.VersionController.DeploymentEnabled and gw.bizrules.pcf.RulePermissionUIHelper.canDeployRule(ruleType.get())"/>
    <AlertBar
      action="CCRulesExportImportStatus.go()"
      allowDismiss="false"
      id="PendingImportAlert"
      label="DisplayKey.get('BizRules.RulesPage.Alert.PendingImportExists')"
      visible="pageHelper.VersionController.ExportImportController.doesPendingImportExist(ruleType)"/>
    <AlertBar
      action="null"
      allowDismiss="false"
      id="ValidationProgressAlert"
      label="DisplayKey.get('BizRules.ValidateAll.Pending', gw.bizrules.validator.ValidateAllWorkQueueUtil.CountWorkItemsPending)"
      visible="gw.bizrules.validator.ValidateAllWorkQueueUtil.isWorkPending()"/>
    <AlertBar
      action="gw.bizrules.validator.ValidateAllWorkQueueUtil.startValidationProcess()"
      allowDismiss="false"
      id="ValidationProcessFailedAlert"
      label="DisplayKey.get('BizRules.ValidateAll.Failed', gw.bizrules.validator.ValidateAllWorkQueueUtil.getLastRunFailureReason())"
      visible="gw.bizrules.validator.ValidateAllWorkQueueUtil.didLastRunFail()"/>
    <AlertBar
      allowDismiss="false"
      id="CCSelectedRulesAlertBar"
      label="gw.bizrules.pcf.SelectedRulesWarningHelper.WarningMessage"
      visible="gw.bizrules.pcf.SelectedRulesWarningHelper.showWarningAlertBar()"/>
    <SearchPanel
      criteriaName="ruleFilterCriteria"
      resultCachingEnabled="false"
      resultsName="results"
      search="filterCriteria.Status?.createVersionQuery(filterCriteria).select()"
      searchCriteria="filterCriteria"
      searchCriteriaType="gw.bizrules.CCRuleFilterCriteria"
      searchOnEnter="true"
      searchResultsType="gw.api.database.IQueryBeanResult&lt;RuleVersion&gt;">
      <PanelRef
        def="RuleFilterCriteriaDV(filterCriteria)"
        id="SearchCriteriaPanelRef"
        mode="pageHelper.RuleType.EntityType.RelativeName"
        visible="areSearchFieldsVisible"/>
      <PanelRef editable="true">
        <Toolbar
          visible="areSearchFieldsVisible">
          <ToolbarButton
            action="gw.api.util.SearchUtil.search()"
            id="Filter"
            label="DisplayKey.get('Web.BizRules.Filter.Filter')"
            visible="areSearchFieldsVisible"/>
          <ToolbarButton
            action="filterCriteria.clear(); gw.api.util.SearchUtil.search()"
            id="Clear"
            label="DisplayKey.get('Button.Clear')"
            visible="areSearchFieldsVisible"/>
        </Toolbar>
        <ListViewPanel id="RulesLV">
          <RowIterator
            editable="false"
            elementName="version"
            hasCheckBoxes="true"
            id="Rules"
            pageSize="50"
            type="entity.RuleVersion"
            value="results"
            valueType="gw.api.database.IQueryBeanResult&lt;RuleVersion&gt;">
            <ToolbarFlag
              name="AlwaysTrue"/>
            <ToolbarFlag
              name="Enabled" condition="version.Rule.AvailableToRun"/>
            <ToolbarFlag
              name="Disabled" condition="!version.Rule.AvailableToRun"/>
            <ToolbarFlag
              condition="perm.Rule.edit(version.Rule)"
              name="Editable"/>
            <Row>
              <ModalCellRef
                align="left"
                def="RuleExecutionInfoCell(version, pageHelper.VersionController)"
                id="RuleExecutionInfo"
                label="DisplayKey.get('BizRules.RulesPage.LV.RunStatus')"
                mode="&quot;default&quot;"/>
              <TextCell
                action="context.goToRuleDetailPage(version)"
                align="left"
                id="Name"
                label="DisplayKey.get('BizRules.RulesPage.LV.Name')"
                sortOrder="1"
                value="version.Rule.Name"/>
              <TextCell
                align="left"
                id="Status"
                label="DisplayKey.get('BizRules.RulesPage.LV.Status')"
                sortBy="version.Status"
                value="pageHelper.getStatusText(version)"/>
              <TextCell
                align="left"
                id="Version"
                label="DisplayKey.get('BizRules.RulesPage.LV.Version')"
                value="pageHelper.getVersionText(version)"/>
              <ModalCellRef
                align="left"
                def="RuleValidationInfoCell(version.Rule)"
                id="RuleValidationInfo"
                label="DisplayKey.get('BizRules.RulesPage.LV.ValidationStatus')"
                mode="&quot;default&quot;"/>
              <TypeKeyCell
                align="left"
                id="Context"
                label="DisplayKey.get('Web.BizRules.Rule.Context')"
                value="version.Rule.RuleContextDefinitionKey"
                valueType="typekey.RuleContextDefinitionKey"/>
              <TypeKeyCell
                align="left"
                id="Trigger"
                label="DisplayKey.get('Web.BizRules.Rule.Trigger')"
                value="version.Rule.TriggeringPointKey"
                valueType="typekey.TriggeringPointKey"/>
              <TextCell
                align="left"
                enableSort="false"
                id="ActionType"
                label="DisplayKey.get('Web.BizRules.Rule.ActionType')"
                value="pageHelper.getActionTypeColumn(version)"
                visible="pageHelper.ShowActionType"/>
              <TextAreaCell
                align="left"
                enableSort="false"
                id="LossTypes"
                label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.LossType')"
                value="pageHelper.getLossTypesColumn(version)"
                visible="pageHelper.ShowLossTypes"/>
              <TextAreaCell
                align="left"
                enableSort="false"
                id="PolicyTypes"
                label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.PolicyType')"
                value="pageHelper.getPolicyTypesColumn(version)"/>
              <TextAreaCell
                align="left"
                id="IncidentType"
                label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.IncidentType')"
                value="pageHelper.getIncidentTypeColumn(version)"
                visible="pageHelper.ShowIncidentTypes"/>
              <TextAreaCell
                align="left"
                id="LossPartyType"
                label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.LossPartyType')"
                value="pageHelper.getLossPartyTypeColumn(version)"
                visible="pageHelper.ShowLossPartyTypes"/>
              <TextAreaCell
                align="left"
                enableSort="false"
                id="Jurisdictions"
                label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.Jurisdiction')"
                value="pageHelper.getJurisdictionsColumn(version)"/>
              <TextAreaCell
                align="left"
                id="ExposureTypes"
                label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.ExposureType')"
                value="pageHelper.getExposureTypesColumn(version)"
                visible="pageHelper.ShowExposureTypes"/>
              <TextAreaCell
                align="left"
                id="ClaimSegments"
                label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.ExposureSegment')"
                value="pageHelper.getClaimSegmentsColumn(version)"
                visible="pageHelper.ShowClaimSegments"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>
