<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="CCRulesExportImportStatus"
    canVisit = "gw.entity.GWPermSystemEnhancement.CanVisitBizRules"
    showUpLink="true"
    title="DisplayKey.get('BizRules.RuleExportImportStatusScreen.Title')">
    <LocationEntryPoint
      signature="CCRulesExportImportStatus()"/>
    <ScreenRef
      def="RuleExportImportStatusScreen(new gw.bizrules.CCRulesDelegatingNavigationContext())"/>
  </Page>
</PCF>