<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="CommandDefinitionParameterLocalizationsPopup"
    startInEditMode="startInEditMode"
    title="accessors.first().Label">
    <LocationEntryPoint
      signature="CommandDefinitionParameterLocalizationsPopup(title: String, accessors: gw.bizrules.ruleaction.generateactivity.DynamicLocalizedPropertyAccessor[], startInEditMode: boolean)"/>
    <Variable
      name="title"
      type="String"/>
    <Variable
      name="accessors"
      type="gw.bizrules.ruleaction.generateactivity.DynamicLocalizedPropertyAccessor[]"/>
    <Variable
      name="startInEditMode"
      type="boolean"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <ListViewPanel
        id="LocalizedCommandDefinitionParameterLV"
        stretch="true">
        <RowIterator
          editable="true"
          elementName="accessor"
          id="localizedAccessorRows"
          value="accessors"
          valueType="gw.bizrules.ruleaction.generateactivity.DynamicLocalizedPropertyAccessor[]">
          <IteratorSort
            sortBy="accessor.Language"
            sortOrder="1"/>
          <Row>
            <TextCell
              id="language"
              label="DisplayKey.get(&quot;Web.Admin.LocalizedValuesDV.Language&quot;)"
              value="accessor"
              valueType="gw.bizrules.ruleaction.generateactivity.DynamicLocalizedPropertyAccessor"/>
            <CheckBoxCell
              editable="true"
              id="chkbox"
              label="DisplayKey.get(&quot;BizRules.RuleDetailsPage.SetToDefault&quot;)"
              value="accessor.UseDefault"/>
            <TextCell
              available="!accessor.UseDefault"
              editable="true"
              grow="true"
              id="value"
              label="DisplayKey.get(&quot;Web.BizRules.Rule.Parameters.Localized.CurrentValue&quot;)"
              required="accessor.Required"
              value="accessor.Value">
              <Reflect
                available="VALUE != true"
                triggerIds="chkbox">
                <ReflectCondition
                  condition="VALUE == true"
                  value="accessor.DefaultValue"/>
                <ReflectCondition
                  condition="true"
                  value="accessor.Value"/>
              </Reflect>
              <PostOnChange/>
            </TextCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>