<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="RuleComparisonRowLocalizedStringInputSet">
    <Require
      name="commandDefinitionDiff"
      type="gw.bizrules.diff.RuleMatchableDiffPair&lt;RuleCommandDefinition&gt;"/>
    <Require
      name="rowName"
      type="String"/>
    <Variable
      initialValue="gw.api.util.LocaleUtil.AllLanguages.size() == 1"
      name="useSingleLanguage"
      type="Boolean"/>
    <InputSetRef
      def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(rowName))"
      visible="useSingleLanguage"/>
    <InputSet
      visible="!useSingleLanguage">
      <InputSetRef
        def="RuleComparisonRowStringInputSet(new gw.bizrules.pcf.RuleComparisonRow&lt;String&gt;(rowName, false, {&quot;&quot;, &quot;&quot;}))"
        id="defaultValue"/>
      <InputIterator
        elementName="localizedRow"
        value="gw.api.util.LocaleUtil.AllLanguages.stream().map(\lang -&gt; commandDefinitionDiff.getLocalizedRow(lang, rowName)).toTypedArray()"
        valueType="gw.bizrules.pcf.RuleComparisonRow&lt;java.lang.String&gt;[]">
        <InputSetRef
          def="RuleComparisonRowStringInputSet(localizedRow)"/>
      </InputIterator>
    </InputSet>
  </InputSet>
</PCF>