/**
 * Tab panel inside a list-details view
 */
.#{$prefix}list-details-tabpanel {
  border-top: 3px solid #FFF;
  > .#{$prefix}tab-bar {
    border-top: 1px solid $panel-border-color !important;
  }
}

.#{$prefix}tab-bar-strip-default-top {
  border-width: 1px 0 0 0;
  height: 2px;
}
.#{$prefix}tab-default-top{
  padding-top:5px;
  padding-bottom: 4px;
  border-radius: 0;
  margin-right: 5px;
}
.#{$prefix}tab-default-top-over{
  text-decoration: underline;
  color: $base-color;
}
.#{$prefix}tab-default{
  background-color: $gw-tabbar-background-color;
  .#{$prefix}tab-inner{
    color: $base-color;
  };
}
.#{$prefix}tab-bar-default-top {
  padding: 0px;
  background-color: $gw-tabbar-background-color;
}
.#{$prefix}tab-default-active {
  background-color: $gw-tabbar-active-background-color !important;
  border-left: $gw-border !important;
  border-top: $gw-border !important;
  border-right: $gw-border !important;

  .#{$prefix}tab-inner{
    color: $base-color;
  }
}
.#{$prefix}tab-default-top-over.#{$prefix}tab-default-active{
  text-decoration: none;
}
.#{$prefix}tab-bar-body{
  border-top: $gw-border;
}
.x-tab-bar-default {
  .x-tabbar-scroll-left{
    background-image: url(images/grid/page-prev.png);
    background-position: 50%;
    height: 28px;
    border-right: $gw-border;
  }
  .x-tabbar-scroll-right{
    background-image: url(images/grid/page-next.png);
    background-position: 50%;
    height: 28px;
    border-left: $gw-border;
  }
  .x-box-scroller{
    @include opacity(.9);
  }
}
