@include extjs-button-ui(
    $ui: 'action-small',

    $border-radius: $button-action-border-radius,
    $border-width: $button-small-border-width,

    $border-color: $button-action-border-color,
    $border-color-over: $button-action-border-color-over,
    $border-color-focus: $button-action-border-color-focus,
    $border-color-pressed: $button-action-border-color-pressed,
    $border-color-disabled: $button-action-border-color-pressed,

    $padding: $button-action-padding,
    $text-padding: $button-small-text-padding,

    $background-color: $button-action-background-color,
    $background-color-over: $button-action-background-color-over,
    $background-color-focus: $button-action-background-color-focus,
    $background-color-pressed: $button-action-background-color-pressed,
    $background-color-disabled: $button-action-background-color-disabled,

    $background-gradient: $button-action-background-gradient,
    $background-gradient-over: $button-action-background-gradient-over,
    $background-gradient-focus: $button-action-background-gradient-focus,
    $background-gradient-pressed: $button-action-background-gradient-pressed,
    $background-gradient-disabled: $button-action-background-gradient-disabled,

    $color: $button-action-color,
    $color-over: $button-action-color-over,
    $color-focus: $button-action-color-focus,
    $color-pressed: $button-action-color-pressed,
    $color-disabled: $button-action-color-disabled,

    $font-size: $button-action-font-size,
    $font-size-over: $button-action-font-size-over,
    $font-size-focus: $button-action-font-size-focus,
    $font-size-pressed: $button-action-font-size-pressed,
    $font-size-disabled: $button-action-font-size-disabled,

    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-action-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled,
    $include-ui-menu-arrows: false,
    $include-ui-split-arrows: false
);


.#{$prefix}btn-action-small {
  .#{$prefix}btn-icon-el {
    background-image: theme-background-image('button/action_button_blue');
  }
}

.#{$prefix}btn-action-small .#{$prefix}btn-arrow {
  background-image: none;
  padding-right: 0;
}

a > .drilldownPrev {
  background-image: theme-background-image('button/prev_on');
  cursor: pointer;
}
span > .drilldownPrev {
  background-image: theme-background-image('button/prev_off');
}

a > .drilldownNext {
  background-image: theme-background-image('button/next_on');
  cursor: pointer;
}
span > .drilldownNext {
  background-image: theme-background-image('button/next_off');
}

/**
 * menu button, button link
 */
a.g-cell-menu, a.miniButton, a.bigButton {
  background-color: $button-default-background-color !important;
  border:             1px solid $button-default-background-color !important;
  cursor:   pointer !important;
  color:    #ffffff !important;
  padding:  3px 10px;
}

/**
 * reduced padding for minibutton links that appear in inline (e.g., reinsurance form)
 */
.g-content a.miniButton{
  padding: 0 10px;
}
.g-content a.bigButton{
  padding: 1px 10px 3px;
}

.#{$prefix}grid-cell-inner{
  a.g-cell-menu, a.miniButton, a.bigButton {
    display: inline;
  }
}

/**
 * menu button cell
 */
a.g-cell-menu {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: theme-background-image('button/arrow','gif');
  padding: 1px 10px 1px 2px;
}

.#{$prefix}toolbar-top-links .g-no-menu-icon.#{$prefix}btn-menu-active,
.#{$prefix}toolbar-top-links .g-no-menu-icon.#{$prefix}btn-over,
.#{$prefix}btn-plain-toolbar-small-over .g-preferences-icon
{
  border-color: silver;
  background-color: transparent;
  @include opacity (0.7);
}

/**
 * Multi-select shuttle widget buttons
 */
.#{$prefix}form-itemselector-btn.#{$prefix}btn-default-small{
  background-color: transparent;
  border-color: silver;
  padding: 3px 1px;
}
.#{$prefix}form-itemselector-btn.#{$prefix}btn-default-small-over{
  @include opacity(.7);
}

#\:TabLinkMenuButton{
  background-color: transparent;
}

/** hide menu icon, for icon-only menu buttons: */
.g-no-menu-icon {
  .#{$prefix}btn-arrow {
    background-image: none;
  }

  .#{$prefix}btn-arrow-right {
      padding-right: 0;
  }
}

/**
 * workaround - fixed-button height problem
 */
.g-icon-button {
  BUTTON.#{$prefix}btn-text {
    height:auto !important;
  }
}

/* text-icon alignment for button */
BUTTON.#{$prefix}btn-text > IMG {
  vertical-align: middle; margin:0 1px 0 1px;
}

/**
 * Fix issue with Neptune where disabled buttons with no icons
 * would not show up.
 *
 * The reason is because the icon element overlays the text element
 * with a white background, hiding the text underneath
 *
 * Reported on EXTJSIV-9312
 * @Sencha
 * 2013-April-1
 */
.#{$prefix}btn-noicon .#{$prefix}btn-icon-el {
  display: none;
}

.#{$prefix}btn-default-toolbar-small .#{$prefix}btn-arrow {
  background-image: theme-background-image('button/arrow');
}

/*
 * width sizing so small icon in button won't get cropped
*/
.#{$prefix}btn-default-toolbar-small-icon-text-left .#{$prefix}btn-icon-el {
  width: 20px;
}

.#{$prefix}btn-default-toolbar-small-menu-active{
  background-color: $base-color;
  color: $gw-color-offwhite;
  .#{$prefix}menu-item-text{
    color: $gw-color-offwhite;
  }

}

