<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="AdjustRIRecoverablesHeaderRowSet">
    <Require
      name="Agreement"
      type="RIAgreement"/>
    <Require
      name="HeaderLabel"
      type="String"/>
    <Row
      useTitleStyle="true">
      <Cell
        id="HeaderLabel"
        value="HeaderLabel"
        width="205"/>
    </Row>
    <Row>
      <Cell
        bold="true"
        id="CurrentCalculatedAmountLabel"
        value="displaykey.Web.Claim.Reinsurance.AdjustRIRecoverables.CurrentCalculatedAmount"/>
      <Cell
        align="right"
        bold="true"
        id="CalculatedChangeLabel"
        value="displaykey.Web.Claim.Reinsurance.AdjustRIRecoverables.DeltaCalculatedAmount"
        visible="Agreement typeis entity.NonProportionalRIAgreement"
        width="220"/>
      <Cell
        align="right"
        bold="true"
        id="NewCalculatedAmountLabel"
        value="displaykey.Web.Claim.Reinsurance.AdjustRIRecoverables.NewCalculatedAmount"
        visible="Agreement.canSetUnadjustedCededReserves() or Agreement.canSetUnadjustedRecoverables()"
        width="185"/>
      <Cell
        align="right"
        bold="true"
        id="CurrentAdjustmentsLabel"
        value="displaykey.Web.Claim.Reinsurance.AdjustRIRecoverables.CurrentAdjustments"
        width="160"/>
      <Cell
        align="right"
        bold="true"
        id="AdjustmentChangeLabel"
        value="displaykey.Web.Claim.Reinsurance.AdjustRIRecoverables.DeltaAdjustedAmount"
        width="225"/>
      <Cell
        align="right"
        bold="true"
        id="NewAdjustmentsAmountLabel"
        value="displaykey.Web.Claim.Reinsurance.AdjustRIRecoverables.NewAdjustment"
        width="190"/>
      <Cell
        align="right"
        bold="true"
        id="TotalLabel"
        value="displaykey.Web.Claim.Reinsurance.AdjustRIRecoverables.Total"/>
    </Row>
  </RowSet>
</PCF>