<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="AgreementDetailsDV"
    mode="AnnualAggregateRITreaty">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <InputColumn>
      <Input
        editable="true"
        id="AgreementNumber"
        label="displaykey.Web.Claim.Reinsurance.AgreementNumber"
        required="true"
        value="agreement.AgreementNumber"/>
      <Input
        editable="true"
        id="AgreementName"
        label="displaykey.Web.Claim.Reinsurance.AgreementName"
        required="true"
        value="agreement.AgreementName"/>
      <InputSetRef
        def="RISubtypeAndGroupInputSet( agreement.Claim, agreement )"
        visible="!agreement.New"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="AgreementCurrency"
        label="displaykey.Web.Claim.Reinsurance.Currency"
        required="true"
        value="agreement.Currency"
        visible="gw.api.util.CurrencyUtil.MultiCurrencyMode">
        <PostOnChange/>
      </TypeKeyInput>
      <Input
        editable="true"
        formatType="currency"
        id="AttachmentPoint"
        label="displaykey.Web.Claim.Reinsurance.AttachmentPoint"
        required="true"
        value="agreement.AttachmentPoint"/>
      <Input
        editable="true"
        formatType="currency"
        id="TopOfLayer"
        label="displaykey.Web.Claim.Reinsurance.TopOfLayer"
        required="true"
        value="agreement.TopOfLayer"/>
      <Input
        editable="true"
        formatType="currency"
        id="RecoveryLimit"
        label="displaykey.Web.Claim.Reinsurance.RecoveryLimit"
        required="true"
        value="agreement.RecoveryLimit"/>
      <TextInput
        editable="true"
        format="&quot;#.######'%'&quot;"
        id="CededShare"
        label="displaykey.Web.Claim.Reinsurance.CededShare"
        numCols="10"
        required="true"
        value="agreement.CededShare"/>
      <InputDivider/>
      <Input
        editable="true"
        formatType="currency"
        id="NotificationThreshold"
        label="displaykey.Web.Claim.Reinsurance.NotificationThreshold"
        value="agreement.NotificationThreshold"/>
      <BooleanRadioInput
        id="ExceedsNotificationThreshold"
        label="displaykey.Web.Claim.Reinsurance.ReinsuranceAgreementDetails.ExceedsNotificationThreshold"
        value="agreement.ExceedsNotificationThreshold"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>