<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="OtherStructureIncidentPanelSet">
    <Require
      name="incident"
      type="OtherStructureIncident"/>
    <PanelRow>
      <PanelColumn>
        <PanelRef>
          <TitleBar
            id="DamageHeader"
            title="displaykey.Web.OtherStructureIncident.DamageHeader"/>
          <DetailViewPanel>
            <InputColumn>
              <TextAreaInput
                editable="true"
                id="Description"
                label="displaykey.Web.OtherStructureIncident.Description"
                numRows="3"
                required="true"
                value="incident.Description"/>
              <TypeKeyInput
                editable="true"
                id="EstimatesReceived"
                label="displaykey.Web.OtherStructureIncident.EstimatedReceived"
                value="incident.EstimatesReceived">
                <PostOnChange/>
              </TypeKeyInput>
              <Input
                editable="true"
                id="EstimateCost"
                label="displaykey.Web.OtherStructureIncident.EstimateCost"
                value="incident.EstRepairCost"
                visible="incident.EstimatesReceived == &quot;yes&quot;"/>
              <Input
                editable="true"
                id="EstimateTime"
                label="displaykey.Web.OtherStructureIncident.EstimateTime"
                value="incident.EstRepairTime"
                visible="incident.EstimatesReceived == &quot;yes&quot;"/>
              <Input
                editable="true"
                id="LossEstimate"
                label="displaykey.Web.OtherStructureIncident.LossEstimate"
                value="incident.LossEstimate"/>
              <BooleanRadioInput
                editable="true"
                id="AlreadyRepaired"
                label="displaykey.Web.OtherStructureIncident.AlreadyRepaired"
                value="incident.AlreadyRepaired">
                <PostOnChange/>
              </BooleanRadioInput>
              <BooleanRadioInput
                editable="true"
                id="FencesDamaged"
                label="displaykey.Web.OtherStructureIncident.FencesDamaged"
                value="incident.FencesDamaged">
                <PostOnChange/>
              </BooleanRadioInput>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
      </PanelColumn>
      <PanelColumn>
        <PanelRef
          def="IncidentExposuresLV(incident)"
          id="IncidentExposuresLV">
          <TitleBar
            id="RelatedExposuresHeader"
            title="displaykey.Web.OtherStructureIncident.RelatedExposuresHeader"/>
          <Toolbar/>
        </PanelRef>
        <PanelRef>
          <TitleBar
            title="displaykey.Web.ServicesScreen.ServiceRequest.ServiceToPerform"/>
          <DetailViewPanel>
            <InputColumn>
              <Input
                id="ServiceRequestSubmitMessageFNOL"
                labelAbove="true"
                value="displaykey.Web.ServiceRequest.FNOL.SubmitMessage"
                visible="incident.Claim.DraftClaim"/>
              <Input
                id="ServiceRequestSubmitMessage"
                labelAbove="true"
                value="displaykey.Web.ServiceRequest.SubmitMessage"
                visible="not incident.Claim.DraftClaim and CurrentLocation.InEditMode"/>
              <InputSetRef
                def="OtherServicesLVInputSet(incident.Claim, incident, incident.ServiceRequests.toSet(), null, {})"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>