//row cell
$grid-cell-inner-padding: 0 10px;

//row cell over
$grid-row-cell-over-border-color: #d6d6d6 !default;
$grid-row-cell-over-background-color: #d8f2cd !default;

//row cell selected
$grid-row-cell-selected-border-style: solid !default;
$grid-row-cell-selected-border-color: #d6d6d6 !default;
$grid-row-cell-selected-background-color: #90d3ff !default; //#add9f6 !default;
$grid-row-cell-focus-background-color: #90d3ff !default;


// row highlighted
$grid-row-cell-highlighted-border-style: $grid-row-cell-selected-border-style !default;
$grid-row-cell-highlighted-border-color: #d6d6d6 !default;
$grid-row-cell-highlighted-background-color: #dcecf3 !default;

// row error
$grid-row-cell-error-border-style: $grid-row-cell-selected-border-style !default;
$grid-row-cell-error-border-color: #d6d6d6 !default;
$grid-row-cell-error-background-color: #f4e7dc !default;

// row alternate
$grid-row-cell-alt-background-color: #fafafa !default;

