/**
 *  @var { color }
 *  hover color for top and left nav.
 */
$menu-item-hover-bgColor: $base-light-color !default;

$menu-item-active-background-color: $base-light-color !default; //todo: mix to #d5e2e6

$menu-text-color: $gw-text-color !default;

$menu-background-color: $gw-background-color !default;

