<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableWitnessesLV">
    <ExposeIterator
      valueType="entity.ClaimContactRole"
      widget="EditableWitnessesLV"/>
    <Require
      name="ClaimContactRoleList"
      type="ClaimContactRole[]"/>
    <Require
      name="ClaimContactRoleOwner"
      type="contact.ClaimContactRoleOwner"/>
    <Require
      name="role"
      type="ContactRole"/>
    <RowIterator
      editable="true"
      elementName="ClaimContactRole"
      hideCheckBoxesIfReadOnly="true"
      pageSize="3"
      toCreateAndAdd="ClaimContactRoleOwner.addEmptyRole(role)"
      toRemove="ClaimContactRoleOwner.removeRole(ClaimContactRole)"
      value="ClaimContactRoleList">
      <Row>
        <ClaimContactCell
          claim="ClaimContactRoleOwner.getClaim()"
          editable="true"
          forceContactSubtype="ClaimContactRoleOwner.getMostSpecificContactType(role)"
          id="Contact"
          label="displaykey.LV.Policy.EditableExcludedParties.Contact"
          required="true"
          sortValueRange="false"
          value="ClaimContactRole.Contact"
          valueRange="ClaimContactRoleOwner.getClaim().getRelatedContacts(ClaimContactRoleOwner.getContactTypes(role))"/>
        <TypeKeyCell
          editable="true"
          id="EditableWitnesses_WitnessStatementInd"
          label="displaykey.LV.Claim.EditableWitnesses.WitnessStatementInd"
          required="true"
          value="ClaimContactRole.WitnessStatementInd"/>
        <TypeKeyCell
          editable="true"
          id="EditableWitnesses_WitnessPosition"
          label="displaykey.LV.Claim.EditableWitnesses.WitnessPosition"
          required="false"
          value="ClaimContactRole.WitnessPosition"
          visible="ClaimContactRoleOwner.getClaim().LOBCode != LOBCode.TC_HOMEOWNERSLINE_HOE"/>
        <Cell
          editable="true"
          id="EditableWitnesses_WitnessPerspective"
          label="displaykey.LV.Claim.EditableWitnesses.WitnessPerspective"
          required="true"
          value="ClaimContactRole.WitnessPerspective"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>