<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="FNOLWizard_BasicInfoPolicyPanelSet"
    mode="Homeowners">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="wizard"
      type="claim.NewClaimWizardInfo"/>
    <Variable
      initialValue="claim.Policy.getOrderedPrimaryLocationCoverages({&quot;HODW_Dwelling_Cov_HOE&quot;, &quot;HODW_Other_Structures_HOE&quot;, &quot;HODW_Personal_Property_HOE&quot;, &quot;HODW_Loss_Of_Use_HOE&quot;, &quot;HOLI_Personal_Liability_HOE&quot;})"
      name="coverages"/>
    <Variable
      initialValue="claim.Policy.Endorsements.sortBy(\ e -&gt; e.FormNumber)"
      name="endorsements"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSet
          id="AddressInputSet"
          visible="claim.Policy.PrimaryLocation != null">
          <Label
            label="displaykey.Web.BasicInfoScreen.Homeowners.AddressOnPolicy"/>
          <TextInput
            id="PropertyAddress"
            labelAbove="true"
            value="claim.Policy.PrimaryLocation.Address.DisplayName"/>
        </InputSet>
      </InputColumn>
    </DetailViewPanel>
    <DetailViewPanel
      id="coverageDV"
      highlighted="true"
      visible="!coverages.IsEmpty">
      <InputColumn>
        <Label
          label="displaykey.Web.BasicInfoScreen.Homeowners.Coverages"/>
        <InputIterator
          elementName="coverage"
          value="coverages">
          <TextInput
            id="coverage"
            label="coverage.Type"
            value="coverage.DetailsSummary"/>
        </InputIterator>
      </InputColumn>
    </DetailViewPanel>
    <DetailViewPanel
      id="endorsementDV"
      highlighted="true"
      visible="!endorsements.IsEmpty">
      <InputColumn>
        <Label
          label="displaykey.Web.BasicInfoScreen.Homeowners.Endorsements"/>
        <InputIterator
          elementName="endorsement"
          value="endorsements">
          <TextInput
            id="endorsement"
            label="endorsement.FormNumber"
            value="endorsement.Description"/>
        </InputIterator>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>