.messageSubheader a, .message a {
  text-decoration: underline; 
  cursor: pointer; 
}
.error_icon {
  background: theme-background-image('form/exclamation','gif') no-repeat center;
  height: 19px;
  width: 19px;
  vertical-align: middle;
  margin-right: 5px;
}
.warning_icon {
  background: theme-background-image('window/warn','gif') no-repeat;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  vertical-align: middle;
}
.info_icon {
  background: theme-background-image('window/info','gif') no-repeat;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  vertical-align: middle;
}
.error_details { 
  color:#555; 
}