<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSummaryExposuresLV"
    stretch="true">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="ExposureList"
      type="Exposure[]"/>
    <RowIterator
      editable="false"
      elementName="Exposure"
      value="ExposureList"
      valueType="entity.Exposure[]">
      <Row>
        <LinkCell
          align="center"
          icon="&quot;closed&quot; "
          iconType="svgFileName"
          id="Status"
          printWidth="0.07"
          sortBy="Exposure.State">
          <Link
            icon="Exposure.Closed ? &quot;closed&quot; : &quot;circle&quot;"
            iconColor="Exposure.Closed ? null : gw.api.web.color.GWColor.THEME_ALERT_INFO"
            iconType="svgFileName"
            id="StatusIcon"
            tooltip="Exposure.State.DisplayName"/>
        </LinkCell>
        <TextCell
          action="ExposureDetailForward.drilldown(Claim, Exposure)"
          align="center"
          id="Order"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Order&quot;)"
          printWidth="0.05"
          sortOrder="1"
          value="Exposure.ClaimOrder"
          valueType="java.lang.Integer"/>
        <TypeKeyCell
          action="ExposureDetailForward.drilldown(Claim, Exposure)"
          id="Type"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Type&quot;)"
          printWidth="0.15"
          value="Exposure.ExposureType"
          valueType="typekey.ExposureType"
          wrap="false"/>
        <TypeKeyCell
          grow="true"
          id="Coverage"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Coverage&quot;)"
          printWidth="0.20"
          value="Exposure.PrimaryCoverage"
          valueType="typekey.CoverageType"/>
        <TextCell
          action="ClaimContactDetailPopup.push(Exposure.Claimant, Claim)"
          enableSort="false"
          id="Claimant"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Claimant&quot;)"
          printWidth="0.15"
          value="Exposure.Claim.LossType.equals(LossType.TC_WC) ? Exposure.Claim.ClaimantDenorm : Exposure.Claimant"
          valueType="entity.Contact"
          wrap="false"/>
        <TextCell
          action="UserContactDetailPopup.push(Exposure.AssignedUser)"
          id="Assignee"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Assignee&quot;)"
          printWidth="0.15"
          sortBy="Exposure.AssignmentStatus,Exposure.AssignedUser,Exposure.AssignedQueue"
          value="Exposure.AssigneeDisplayString"
          wrap="false"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="RemainingReserves"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.RemainingReserves&quot;)"
          printWidth="0.12"
          value="Exposure.ExposureRpt.RemainingReserves"
          visible="perm.Claim.viewreserves(Claim)"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="FuturePayments"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.FuturePayments&quot;)"
          printWidth="0.12"
          value="Exposure.ExposureRpt.FuturePayments"
          visible="perm.Claim.viewpayments(Claim)"
          wrap="false"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="Paid"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Paid&quot;)"
          printWidth="0.1"
          value="Exposure.ExposureRpt.TotalPayments"
          visible="perm.Claim.viewpayments(Claim)"
          wrap="false"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="TotalRecoveries"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.TotalRecoveries&quot;)"
          printWidth="0.12"
          value="Exposure.ExposureRpt.TotalRecoveries"
          visible="perm.Claim.viewrecoveries(Claim)"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>