// page panel
@include extjs-panel-ui(
    $ui-label: 'page',
    $ui-header-background-color: $panel-page-header-background-color,
    $ui-header-text-padding: $panel-page-header-text-padding,
    $ui-header-font-size: $panel-page-header-font-size
);

// inline details
@include extjs-panel-ui(
  $ui-label: 'inline-details',
  $ui-body-background-color: #FFF8d7
);



.#{$prefix}panel-body-inline-details {
  color: #000; 
  font-size: 12px;
  .inline-details-title {
    font-weight:bold; 
    color: #004499; 
    padding-bottom: 7px; 
    font-size: 12px;
  }
}

/**
 * Wizard
 */
.g-accordion{
  .#{$prefix}panel-header-text-container-tree-navigation,
  .#{$prefix}container-header-text-container-tree-navigation{
    color: #282828;
    font-size: 13px;
    font-weight: $gw-font-weight-bold;
  }
  .#{$prefix}panel-body-default,
  .#{$prefix}container-body-default{
    border-width: 0;
  }
  .g-required{
    padding-right:5px;
  }
}

/**
 * Center panel screen header panel, resetting padding in header elements to reset left alignment
 */
#centerPanel{
  .g-screen > table:first-child > tbody > tr:nth-of-type(1) .#{$prefix}header-text-container > span:nth-of-type(1){
    //this selector chain will specifically select the page title and nothing else
    font: bold 20px/25px helvetica,arial,verdana,sans-serif;
    color: $gw-text-color;
    letter-spacing: 1px;
    display: block;
    padding-top:7px;
    margin-right: 5px;
  }
  .g-screen > table:first-child > tbody > tr:nth-of-type(1){
    .x-header-horizontal{
      background-color: transparent;
      margin-top: 0;
      border-top: 0px;
    }
  }
  .#{$prefix}panel-inline-icon {
    vertical-align: middle;
    margin-right:5px;
  }
}

#westPanel-body {
  padding: 5px 0 0 0;

  .#{$prefix}grid-cell-inner {
    // for left nav the cell padding is increased
    padding-top: $gw-left-nav-cell-vertical-padding;
    padding-bottom: $gw-left-nav-cell-vertical-padding;
  }
}

#westPanel{
  border-right: $gw-border;
  box-shadow: 3px 0px 10px #aaa;
}
#southPanel{
  border-top: $gw-border;
  box-shadow: 0 -1px 2px #aaa;
}

.g-msg-warning{
  font-weight: bold;
  font-size: $font-size;
  color: $gw-error-msg-color;
  margin: 0 0 0 10px;
}

.g-msg-info{
  font-weight: bold;
  font-size: $font-size;
  margin: 0 0 0 10px;
}


.#{$prefix}container-default {

  color: $gw-text-color;
  font-size: 13px;
  font-weight: normal;
  border-width: 0px;
  border-style: solid;
  border-color: silver;
}

.#{$prefix}container-default.g-banner{
  background: $toolbar-top-tabs-background-color;
}
.#{$prefix}panel-header-tree-navigation .#{$prefix}tool-img {
  background-color: transparent !important;
}
.#{$prefix}panel-header-default{
  border-top: 3px solid $gw-grid-header-border-color !important;
  border-bottom: 1px solid $gw-grid-header-border-color !important;
}

fieldset .#{$prefix}form-item-body{
  padding-bottom: 10px;
}

/**
 * Wizard left-nav date picker
 */
#westPanel .g-date-picker .x-form-item-label-left {
  text-align: center;
}

/**
 * left-nav date picker cell that contains calendar icon
 */
#westPanel .g-date-picker .x-form-item-body {
  padding-right: 10px;
}


/**
 *  Default font
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),
  local('OpenSans-Light'),
  url(../../../fonts/OpenSans-Light.woff) format('woff'),
  url(../../../fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
  local('OpenSans'),
  url(../../../fonts/OpenSans-Regular.woff) format('woff'),
  url(../../../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'),
  local('OpenSans-Semibold'),
  url(../../../fonts/OpenSans-Semibold.woff) format('woff'),
  url(../../../fonts/OpenSans-Semibold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $gw-font-weight-bold;
  src: local('Open Sans Bold'),
  local('OpenSans-Bold'),
  url(../../../fonts/OpenSans-Bold.woff) format('woff'),
  url(../../../fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'),
  local('OpenSans-Extrabold'),
  url(../../../fonts/OpenSans-ExtraBold.woff) format('woff'),
  url(../../../fonts/OpenSans-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'),
  local('OpenSansLight-Italic'),
  url(../../../fonts/OpenSans-LightItalic.woff) format('woff'),
  url(../../../fonts/OpenSans-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'),
  local('OpenSans-Italic'),
  url(../../../fonts/OpenSans-Italic.woff) format('woff'),
  url(../../../fonts/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'),
  local('OpenSans-SemiboldItalic'),
  url(../../../fonts/OpenSans-SemiboldItalic.woff) format('woff'),
  url(../../../fonts/OpenSans-SemiboldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: $gw-font-weight-bold;
  src: local('Open Sans Bold Italic'),
  local('OpenSans-BoldItalic'),
  url(../../../fonts/OpenSans-BoldItalic.woff) format('woff'),
  url(../../../fonts/OpenSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'),
  local('OpenSans-ExtraboldItalic'),
  url(../../../fonts/OpenSans-ExtraBoldItalic.woff) format('woff'),
  url(../../../fonts/OpenSans-ExtraBoldItalic.ttf) format('truetype');
}

.g-preferences-icon {
  background-image: theme-background-image("app/nav_preferences");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;

}

/**
 * RadioColumn styles for list view grids
 */
.#{$prefix}grid3-body {
  .#{$prefix}grid3-radio-col-td {
    .#{$prefix}grid-cell-inner {
      padding: 1px 0 0 0!important;
    }
  }
}

.#{$prefix}grid3-radio-col {
  width: 15px;
  height: 15px;
  background: transparent theme-background-image('form/radio', 'png') no-repeat 0 0;
  margin: 2px auto 0;
}

.#{$prefix}grid3-radio-col-on {
  width: 15px;
  height: 15px;
  background: transparent theme-background-image('form/radio', 'png') no-repeat 0 -15px;
  margin: 2px auto 0;
}

.#{$prefix}grid-cell .#{$prefix}form-radio {
  margin: 0;
  padding: 0;
  border: none;
}

/**
 * UnsavedWork styles
 */
.unsavedwork_g {
  background-color: #d5e2e6;
  a{
    font-weight: bold;
    color: #049;
    cursor: pointer;
  }
}
.#{$prefix}unsavedwork-item-over{
  a{
    text-decoration: underline;
  }
}
.#{$prefix}unsavedwork-table .text{
  padding-left: 12px;
}
.text.unsavedwork{
  padding: 2px 0 2px 12px;
  font-size: 12px;
  &:hover{
    color: #049;
    cursor: pointer;
  }
}

.unsavedwork_g .icon{
  color: #000;
  font-weight: 400;
}

.g-unsavedwork-icon {
  background-image: theme-background-image("app/nav_unsaved_on");
  background-repeat: no-repeat;
  background-position: center;
}

.#{$prefix}btn-disabled .g-unsavedwork-icon {
  background-image: theme-background-image("app/nav_unsaved_off");
}

/**
 * Detail View message background
 */
.message{
  background: $gw-highlight-color !important;
  padding: 5px 5px 5px 10px;
  margin: 5px 5px 5px 7px;
}


