/* big/miniButton links */
.miniButton, .bigButton {
  white-space:nowrap !important;
  text-decoration:none !important; /* no need to underline button text */
  border-radius: 2px;

  margin-left: 1px;
}
.x-grid-cell-inner{
  .miniButton {
    padding: 0 2px;
    font-size: 12px;
  }
}
/* disabled button link */
SPAN.miniButton, SPAN.bigButton {
  border:1px solid #aaa !important;
  color:#fff !important;
  background-color: #c1c1c1;

}

.bigButton {
  padding: 3px 10px;
  border-radius: 2px;
}

.bigButton + .bigButton {
  margin-left:4px;
}

A.g-cell-menu:hover, A.miniButton:hover, A.bigButton:hover {
  background-color:#016a88 !important;
}