/* required input indicator */
.g-required .x-form-item-label,
label.g-required
{
    background: theme-background-image('app/required') no-repeat top right;
    padding-right: 12px;
}

/** error indicator for form field */
.g-field-error .x-form-field {
  border: 1px solid #c30;
  background: none #fef2a6;
}

/* Action Arg Input for Link under Content Input: */
.g-content .x-form-field-wrap {
  display:inline;
}

/*bullet point link*/
.g-bullet .x-form-display-field {
  background: theme-background-image('app/grey_bullet') no-repeat bottom left;
  padding-left: 20px;
}

/* DV column: */
.g-dv-column {
  margin: 4px 0 2px 0;
  padding: 0 7px 0 10px;
}

/* TODO: consolidate and simplify divider for input columns and panel columns */
.x-table-layout-cell + .x-table-layout-cell > .g-dv-column, /* divider between dv columns: */
.g-divider > table > tbody > tr > .x-table-layout-cell ~ .x-table-layout-cell /*divider between panel columns */ {
  border-left: 1px solid #a9bfd3 !important;
}
.x-table-layout-cell + .x-table-layout-cell > .g-no-divider.g-dv-column {
  border-left: none !important;
}

/* spacing between sibling table columns */
.x-table-layout-cell + .x-table-layout-cell {
  padding-left: 2px;
}

.x-form-element .g-content, .x-form-element .g-content * {
  overflow:auto !important;
}

// TODO - AHK - 5/13/2013 - These should be prefixed with g, not x, since they're defined in gw-specific javascript
/* fix for prefix, suffix and altValue for textfield */
.x-form-prefix {
    padding-top: 2px;
    margin-right: 3px;
}

.x-form-suffix {
    padding-top: 2px;
    margin-left: 3px;
}
.x-form-altVal {
    font-size: 10px;
    clear: both;
}

/* make helper icon for readonly input show up to the right of the field */
.x-form-field-wrap .x-form-display-field { display:inline; }

.inputdivider, .paneldivider {
  width: 100% !important;
  height: 14px;
  background-image: theme-background-image("app/divider2_bgd");
  background-repeat: repeat-x;
}

/* disabled form field: */
Input.x-item-disabled { background: #ddd none; }

.gw-multiselect-invalid .x-boundlist {
  background-color: white;
  border-color: #d94e37;
}

.x-before-input-cell {
  //padding-right: 2px;
}

.x-after-input-cell{
  padding-left: 2px;
}

/* Error style for invalid readonly field (TODO: move our of etc folder and use SASS Variables): */
table.x-form-readonly.x-form-invalid label {
  background: url(images/app/arrow1.png) no-repeat 100% 40%;
}

textarea.x-form-textarea[readonly] {
  border: none;
  background-color: transparent;
}