.unsavedwork_g {
  background-color: #d5e2e6;
}
.unsavedwork_g {
  a{
    font-weight: 700;
    color: #049;
    cursor: pointer;
  }
}
.x-unsavedwork-item-over{
  a{
    text-decoration: underline;
  }
}
.x-unsavedwork-table .text{
  padding-left: 12px;
}
.text.unsavedwork{
  padding: 2px 0 2px 12px;
  font-size: 12px;
}
.text.unsavedwork:hover{
  color: #049;
  cursor: pointer;
}

.unsavedwork_g .icon{
  color: #000;
  font-weight: 400;
}

.g-unsavedwork-icon {
  background-image: theme-background-image("app/nav_unsaved_on");
  background-repeat: no-repeat;
  background-position: center;
}

.x-btn-disabled .g-unsavedwork-icon {
  background-image: theme-background-image("app/nav_unsaved_off");
}

