// AHK - 5-28-2013 - We wrap our progress bar in an extra div, so we have to adjust the positioning
// on the child divs in order to get it to show up, and to fix the height on the container so that it
// can accomodate both the progress text and the progress bar.

.#{$prefix}progress-bar {
    position: relative;
}

.#{$prefix}progress-text {
    position: relative;
}

.#{$prefix}progress-default {

  height: 44px;

  .#{$prefix}progress-text-back {
    position:absolute
  }
}

.#{$prefix}progress-status {
  overflow : hidden;
  text-overflow : ellipsis;
  white-space: nowrap;
  background-color: white;
}