<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure800DV"
    mode="Baggage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="snapshot.v800.Exposure"/>
    <InputColumn>
      <InputSetRef
        def="ClaimSnapshotExposureDetailInputSet(Exposure)"
        mode="800"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ClaimSnapshotExposureDV.Default.IncidentOverview"/>
      <Input
        hideChildrenIfReadOnly="false"
        id="Baggage_Type"
        label="displaykey.NVV.Exposure.SubView.Baggage.Exposure.BaggageIncident"
        value="Exposure.BaggageIncident.BaggageType"/>
      <Input
        hideChildrenIfReadOnly="false"
        id="Baggage_Incident"
        label="Exposure.BaggageIncident.DelayOnly == true ? displaykey.Web.BaggageIncident.DelayDescription : displaykey.Web.BaggageIncident.Description"
        value="Exposure.BaggageIncident.Description"/>
      <Input
        id="DelayOnly"
        label="displaykey.NVV.Exposure.SubView.Baggage.Exposure.BaggageIncident.DelayOnly"
        value="Exposure.BaggageIncident.DelayOnly"/>
      <InputSetRef
        def="ClaimSnapshotExposureCodingInputSet(Exposure)"
        mode="800"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="ClaimSnapshotOtherCarrierInvolvementInputSet(Exposure)"
        mode="800"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
