<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    id="ClaimSnapshotPropertyContentsIncident800Popup"
    title="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.Title">
    <LocationEntryPoint
      signature="ClaimSnapshotPropertyContentsIncident800Popup(Claim : Claim, IncidentParam : Object)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="IncidentParam"
      type="Object"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getSnapshot(Claim)"
      name="Snapshot"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getPageVersion(Snapshot)"
      name="Version"
      type="String"/>
    <Variable
      initialValue="IncidentParam as snapshot.v800.PropertyContentsIncident"
      name="incident"
      type="snapshot.v800.PropertyContentsIncident"/>
    <Variable
      initialValue="((Snapshot as snapshot.v800.Claim).Policy.PrimaryLocation)"
      name="policyLocation"/>
    <Screen>
      <TitleBar
        icon="gw.api.claim.IncidentIconSet.PROPERTY_CONTENTS.DefaultHeaderIcon"/>
      <PanelSet>
        <PanelRow>
          <PanelColumn>
            <PanelRef>
              <TitleBar
                id="DamageHeader"
                title="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.Damage"/>
              <DetailViewPanel>
                <InputColumn>
                  <TextAreaInput
                    id="Description"
                    label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.Description"
                    numRows="3"
                    required="true"
                    value="incident.Description"/>
                </InputColumn>
              </DetailViewPanel>
            </PanelRef>
          </PanelColumn>
          <PanelColumn>
            <PanelRef
              def="ClaimSnapshotIncidentRelatedExposuresPanelSet(Claim, Snapshot)"
              mode="800"/>
          </PanelColumn>
        </PanelRow>
      </PanelSet>
      <PanelRef>
        <TitleBar
          id="ScheduledItemsTitle"
          title="((policyLocation.HighValueItems as snapshot.v800.PropertyItem[]).length &gt; 0) ? displaykey.Web.PropertyContentsIncident.ScheduledItems((policyLocation.HighValueItems as snapshot.v800.PropertyItem[]).length) : displaykey.Web.PropertyContentsIncident.NoScheduledItems"/>
        <Toolbar/>
        <ListViewPanel
          id="PropertyContentsScheduledItemsLV">
          <RowIterator
            editable="false"
            elementName="scheduledItem"
            hideCheckBoxesIfReadOnly="true"
            id="PropertyContentsScheduledItems"
            value="incident.PropertyContentsScheduledItems">
            <Row>
              <Cell
                footerLabel="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.ScheduledItem.Total"
                id="ScheduledItemTotal"/>
              <Cell
                id="ScheduledItemDescription"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.ScheduledItem.Name"
                value="scheduledItem.PropertyItem.Description"/>
              <Cell
                footerSumValue="scheduledItem.PropertyItem.AppraisedValue"
                id="ScheduledItemValue"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.ScheduledItem.Value"
                value="scheduledItem.PropertyItem.AppraisedValue"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef>
        <TitleBar
          id="LineItemsTitle"
          title="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem"/>
        <Toolbar/>
        <ListViewPanel
          id="PropertyContentsLineItemsLV">
          <RowIterator
            editable="false"
            elementName="item"
            hideCheckBoxesIfReadOnly="true"
            id="PropertyContentsLineItems"
            value="incident.ContentItemLine">
            <Row>
              <TextCell
                footerLabel="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Total"
                formatType="exactNumber"
                id="LineItemQuantity"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Quantity"
                numCols="4"
                printWidth="0.4"
                value="item.NumberOfItems"/>
              <Cell
                id="LineItemName"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Name"
                numCols="20"
                printWidth="2"
                required="true"
                value="item.Description"/>
              <Cell
                id="LineItemCategory"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Category"
                printWidth="1.5"
                value="item.ContentCategory"/>
              <Cell
                enableSort="false"
                id="LineItemOriginalCost"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.OriginalCost"
                numCols="9"
                printWidth="0.3"
                value="item.PurchaseCost"
                visible="InEditMode"
                wrapLabel="true"/>
              <Cell
                id="LineItemPurchaseDate"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.PurchaseDate"
                value="item.DateAcquired"
                visible="InEditMode"/>
              <Cell
                id="LineItemAge"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Age"
                numCols="4"
                printWidth="0.3"
                value="item.Age"/>
              <Cell
                enableSort="false"
                id="LineItemDepreciationPercentage"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.DepreciationPercentage"
                numCols="4"
                printWidth="0.3"
                value="item.DepreciationPercentage"
                visible="InEditMode"
                wrapLabel="true"/>
              <Cell
                enableSort="false"
                footerSumValue="item.ReplacementValue.Amount"
                formatType="currency"
                id="LineItemReplacementValue"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.ReplacementValue"
                numCols="9"
                value="item.ReplacementValue"
                wrapLabel="true"/>
              <Cell
                enableSort="false"
                footerSumValue="item.ActualCashValue.Amount"
                formatType="currency"
                id="LineItemTotalACV"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.TotalACV"
                numCols="9"
                value="item.ActualCashValue"
                wrapLabel="true"/>
              <Cell
                enableSort="false"
                footerSumValue="item.AmountAfterLimit.Amount"
                formatType="currency"
                id="LineItemAmountAfterLimit"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.AmountAfterLimit"
                numCols="9"
                value="item.AmountAfterLimit "
                wrapLabel="true"/>
              <Cell
                id="LineItemNotes"
                label="displaykey.Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Notes"
                printWidth="3.5"
                value="item.ItemComment"
                visible="!InEditMode || (print.PrintUtil.isPrintingPDF() || print.PrintUtil.isPrintingCSV())"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>
