<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="CatastropheHeatMapFilterPanelSet">
    <Require
      name="criteria"
      type="gw.api.heatmap.CatastropheSearchCriteria"/>
    <Require
      name="allowCatastropheSelection"
      type="boolean"/>
    <PanelRef
      def="EmptyPanelDV()">
      <DetailViewPanel
        columnDivider="false">
        <InputColumn>
          <RangeInput
            editable="allowCatastropheSelection"
            id="catastrophe"
            label="displaykey.JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.Catastrophe"
            noneSelectedLabel="displaykey.JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.PleaseChooseCatastrophe"
            required="false"
            value="criteria.SelectedCatastrophe"
            valueRange="gw.api.database.Query.make(entity.Catastrophe).compare(&quot;Active&quot;, Equals, Boolean.TRUE).select()">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
        <InputColumn>
          <RangeInput
            editable="true"
            id="ImageToDisplay"
            label="displaykey.JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.MapView"
            noneSelectedLabel="return displaykey.JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.Claims"
            optionLabel="VALUE.FilterOptionLabel"
            value="criteria.HeatMap.MapViewDropdown"
            valueRange="criteria.HeatMap.MapViews.AvailableViews">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef
      def="EmptyPanel2DV()">
      <DetailViewPanel
        columnDivider="false">
        <InputColumn>
          <RangeInput
            editable="true"
            id="ClaimStatus"
            label="displaykey.JSP.ClaimSearch.Claims.ClaimStatus"
            required="false"
            value="criteria.HeatMap.ClaimState"
            valueRange="gw.api.claim.ClaimUtil.getAvailableClaimStates()"
            visible="criteria.HeatMap.hasClaims()">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
        <InputColumn>
          <RangeInput
            editable="true"
            id="ReportedDate"
            label="displaykey.JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.ReportedDate"
            required="false"
            value="criteria.HeatMap.ReportedDateRange"
            valueRange="criteria.dateFilterChoices()"
            visible="criteria.HeatMap.hasClaims()">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
        <InputColumn>
          <GroupInput
            editable="true"
            id="AssignedToGroup"
            label="displaykey.JSP.ClaimSearch.Claims.AssignedToGroup"
            required="false"
            value="criteria.HeatMap.AssignedToGroup"
            valueRange="criteria.groupFilterChoices()"
            visible="criteria.HeatMap.hasClaims()">
            <PostOnChange/>
          </GroupInput>
        </InputColumn>
        <InputColumn>
          <RangeInput
            editable="true"
            id="PolicyLocationFilter"
            label="displaykey.JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.PolicyLocationsFilter"
            noneSelectedLabel="displaykey.JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.PolicyLocationsAll"
            value="criteria.HeatMap.PolicyLocations"
            valueRange="criteria.policyLocationFilterChoices()"
            visible="criteria.HeatMap.hasPolicyLocations()">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>