<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.DatabaseStatisticsHelper.dbSupportsStatistics()"
    countsAsWork="false"
    id="DatabaseStatistics"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.DBCatalogStatisticsInfo.DBCatalogStatisticsInfo">
    <Variable
      initialValue="new gw.api.tools.DatabaseStatisticsHelper()"
      name="StatisticsInfoPageHelper"/>
    <Variable
      initialValue="new gw.api.tools.UpdateStatsDVHelper()"
      name="ExecutionHistoryPageHelper"/>
    <Screen
      id="DBStatisticsInfoScreen">
      <CardViewPanel>
        <Card
          id="StatisticsInfo"
          title="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.StatisticsInfo">
          <PanelRow>
            <PanelColumn>
              <DetailViewPanel>
                <InputColumn>
                  <BooleanRadioInput
                    editable="true"
                    helpText="displaykey.Web.DBStatsSubmitDV.CountAllRows"
                    id="StatisticsOnly"
                    label="displaykey.Web.DBStatsSubmitDV.StatisticsOnly"
                    labelAbove="true"
                    value="StatisticsInfoPageHelper.StatisticsOnly"/>
                  <BooleanRadioInput
                    editable="true"
                    helpText="displaykey.Web.DBStatsSubmitDV.CanChooseTables"
                    id="AnalyzeAllTables"
                    label="displaykey.Web.DBStatsSubmitDV.CollectStatsOnAllTables"
                    labelAbove="true"
                    value="StatisticsInfoPageHelper.AnalyzeAllTables">
                    <PostOnChange/>
                  </BooleanRadioInput>
                  <BooleanRadioInput
                    editable="true"
                    helpText="displaykey.Web.DBStatsSubmitDV.CanShowPreviousStats"
                    id="ShowPreviousStats"
                    label="displaykey.Web.DBStatsSubmitDV.ShowPreviousStats"
                    labelAbove="true"
                    value="StatisticsInfoPageHelper.ShowPreviousStatistics"
                    visible="StatisticsInfoPageHelper.canShowHistoricalStatistics()">
                    <PostOnChange/>
                  </BooleanRadioInput>
                  <TextInput
                    editable="true"
                    helpText="displaykey.Web.DBStatsSubmitDV.CanChoosePointInTime"
                    id="ShowPreviousStatsTime"
                    label="displaykey.Web.DBStatsSubmitDV.PreviousStatsTime(StatisticsInfoPageHelper.EarliestPointInTimeForStatisticsString)"
                    numCols="40"
                    value="StatisticsInfoPageHelper.PointInTime"
                    visible="StatisticsInfoPageHelper.ShowPreviousStatistics">
                    <PostOnChange/>
                  </TextInput>
                  <ButtonInput
                    action="StatisticsInfoPageHelper.genStats(); DBStatisticsDisplay.push(StatisticsInfoPageHelper)"
                    id="DisplayStats"
                    labelAbove="true"
                    value="displaykey.Web.InternalTools.InfoPages.DBCatalogStatistics.ViewStatistics"/>
                </InputColumn>
              </DetailViewPanel>
              <PanelRef
                def="DBStatisticsRequestCV(StatisticsInfoPageHelper)"
                visible="!StatisticsInfoPageHelper.AnalyzeAllTables"/>
            </PanelColumn>
          </PanelRow>
        </Card>
        <Card
          id="ExecutionHistory"
          title="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory">
          <DetailViewPanel>
            <InputColumn>
              <ListViewInput
                def="UpdateStatsLV(ExecutionHistoryPageHelper)"
                labelAbove="true">
                <Toolbar>
                  <ToolbarButton
                    action="null"
                    id="RefreshButton"
                    label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.Refresh"/>
                  <CheckedValuesToolbarButton
                    checkedRowAction="ExecutionHistoryPageHelper.deleteDatabaseUpdateStats(CheckedValue)"
                    confirmMessage="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.DeleteConfirmation"
                    id="LVUpdateStatsDelete"
                    iterator="UpdateStatsLV.UpdateStatsLV"
                    label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"/>
                  <ToolbarButton
                    action="var incrementalParams = new com.guidewire.pl.system.database.dbstatistics.UpdateStatsRunParms(); incrementalParams.Incremental = true; com.guidewire.pl.system.dependency.PLDependencies.BatchProcessManager.startBatchProcess(TC_DBSTATS, {incrementalParams})"
                    id="RunIncrementalButton"
                    label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.RunIncrementalDevOnly"
                    visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()"/>
                  <ToolbarButton
                    action="var runParams = new com.guidewire.pl.system.database.dbstatistics.UpdateStatsRunParms(); runParams.Incremental = false; com.guidewire.pl.system.dependency.PLDependencies.BatchProcessManager.startBatchProcess(TC_DBSTATS, {runParams})"
                    id="RunFullButton"
                    label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.RunFullDevOnly"
                    visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()"/>
                </Toolbar>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>
