<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="WorkloadClassificationDetailScreen">
    <Require
      name="classification"
      type="WorkloadClassification"/>
    <Toolbar>
      <EditButtons
        updateConfirmMessage="displaykey.Web.Admin.Workload.WorkloadClassification.ReRunCompleteWorkloadBatchProcess"/>
    </Toolbar>
    <PanelRef
      def="WeightedWorkloadAdminPanelSet(classification)">
      <TitleBar
        title="displaykey.Admin.Workload.WorkloadClassification.General"/>
    </PanelRef>
  </Screen>
</PCF>