<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MedicalTreatmentsLV">
    <ExposeIterator
      valueType="entity.MedicalTreatment"
      widget="MedicalTreatmentsLV"/>
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      editable="true"
      elementName="MedicalTreatment"
      hideCheckBoxesIfReadOnly="true"
      toAdd="Claim.addToMedicalTreatments(MedicalTreatment)"
      toRemove="Claim.removeFromMedicalTreatments(MedicalTreatment)"
      value="Claim.MedicalTreatments">
      <Row>
        <RangeCell
          editable="true"
          id="MedicalTreatments_ProviderName"
          label="displaykey.MedicalTreatments.ProviderName"
          sortValueRange="false"
          value="MedicalTreatment.ClaimContact"
          valueRange="Claim.getAllContactsWithRoles((new ContactRole[]{&quot;doctor&quot;,&quot;FirstIntakeDoctor&quot;,&quot;PrimaryDoctor&quot;,&quot;OccTherapist&quot;,&quot;PhysTherapist&quot;}) as List&lt;ContactRole&gt;)"/>
        <TypeKeyCell
          id="MedicalTreatments_ProviderSpecialty"
          label="displaykey.MedicalTreatments.ProviderSpecialty"
          value="MedicalTreatment.ClaimContact.Contact.SpecialtyType"/>
        <DateCell
          editable="true"
          id="MedicalTreatments_ActionDate"
          label="displaykey.MedicalTreatments.ActionDate"
          sortOrder="1"
          value="MedicalTreatment.ActionDate"/>
        <TypeKeyCell
          editable="true"
          id="MedicalTreatments_ApprovedTreatment"
          label="displaykey.MedicalTreatments.ApprovedTreatment"
          value="MedicalTreatment.ApprovedTreatment"/>
        <Cell
          editable="true"
          id="MedicalTreatments_TreatmentQuantity"
          label="displaykey.MedicalTreatments.TreatmentQuantity"
          value="MedicalTreatment.TreatmentQuantity"/>
        <Cell
          editable="true"
          id="MedicalTreatments_ICD1"
          label="displaykey.MedicalTreatments.ICD1"
          value="MedicalTreatment.ICD1"/>
        <Cell
          editable="true"
          id="MedicalTreatments_ICD2"
          label="displaykey.MedicalTreatments.ICD2"
          value="MedicalTreatment.ICD2"/>
        <Cell
          editable="true"
          id="MedicalTreatments_ICD3"
          label="displaykey.MedicalTreatments.ICD3"
          value="MedicalTreatment.ICD3"/>
        <Cell
          editable="true"
          id="MedicalTreatments_ICD4"
          label="displaykey.MedicalTreatments.ICD4"
          value="MedicalTreatment.ICD4"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>