@include extjs-toolbar-ui(
    $ui: 'top-tabs',
    $background-color: $toolbar-top-tabs-background-color,
    $border-width: 0
);

.#{$prefix}toolbar-top-tabs {
  padding: 0 5px 0 13px;

  .#{$prefix}btn-plain-toolbar-small {
    padding: 8px 10px 7px 0;

    .#{$prefix}btn-arrow{
      background-image: theme-background-image('button/arrow-dark');
      background-position: 100% 70%;
    }
    &.#{$prefix}btn-plain-toolbar-small-disabled{
      .#{$prefix}btn-arrow{
        background-image: theme-background-image('button/plain-toolbar-small-arrow');

      }
    }
  }


  .#{$prefix}btn {
    &, td {
      border-left:   1px solid $gwOffWhiteColor;
      border-right:  1px solid $gwOffWhiteColor;
      border-top:    none;
      background-color: transparent;
      background-image: none;
      @include border-radius(0);
    }
    .#{$prefix}btn-inner{
     color: $toolbar-top-tabs-btn-inner-color;
     font-size: $toolbar-top-tabs-btn-inner-font-size;
     font-weight: $toolbar-top-tabs-btn-inner-font-weight;
     padding: 0 5px 0 17px;
     line-height: normal;
    }

    .#{$prefix}btn-split-right{
      background-image: theme-background-image('button/arrow-dark');
      background-position: 100% 70%;

      .#{$prefix}btn-inner{
        border-right: 1px solid silver;
      }//end btn-inner
    }//end btn-split-right
  }//end btn

  .#{$prefix}btn-plain-toolbar-small-over{
    background-color: $toolbar-sm-btn-over-bgColor;
    border-left:  1px solid;
    border-right: 1px solid;
    border-top:   none;
    border-bottom: none;
    border-color:     $toolbar-sm-btn-over-bgColor;
    color:            $toolbar-sm-btn-over-textColor;

    .#{$prefix}btn-arrow{
      background-image: theme-background-image('button/arrow');
    }

    .#{$prefix}btn-split-right {
      background-image: theme-background-image('button/arrow');
      background-position: 100% 70%;
      background-repeat: none;
      .#{$prefix}btn-inner{
        border-right: 1px solid $toolbar-top-tabs-btn-inner-border-right;
      }//end btn inner
    }//end btn-split-right

    .#{$prefix}btn-inner{
      color: $toolbar-top-tabs-btn-inner-over;
    }//end btn-inner
  }//end btn-plain-toolbar-small-over

  .#{$prefix}btn-plain-toolbar-small-noicon{
    .#{$prefix}btn-button{
      height:15px;
    }
  }


  .#{$prefix}btn-default-toolbar-small-menu-active {
    background-color: $toolbar-top-tabs-active-background-color;
    border-left: 1px solid $toolbar-top-tabs-active-background-color;
    border-right: 1px solid $toolbar-top-tabs-active-background-color;

    .#{$prefix}btn-arrow{
      background-image: theme-background-image('button/arrow');
    }

    .#{$prefix}btn-split-right {
      background-image: theme-background-image('button/arrow');
      .#{$prefix}btn-inner{
        border-right: 1px solid $toolbar-top-tabs-btn-inner-border-right;
      }
    }
    .#{$prefix}btn-inner{
      color: $toolbar-top-tabs-active-inner-color;

    }

  }//end   btn-default-toolbar-small-menu-active


  .#{$prefix}btn-disabled .#{$prefix}btn-inner {
    color: $toolbar-top-tabs-btn-inner-disabled-color;
  }
  
  // more
  .#{$prefix}box-menu-after {
    border: none;
  }
}// end x-toolbar-top-tabs


@include extjs-toolbar-ui(
  $ui: 'top-links',
  $background-color: $toolbar-top-links-background-color,
  $border-width: 0
);
.#{$prefix}toolbar-top-links {
  padding-top: 0;
  padding-bottom: 0;
  .#{$prefix}btn {
    @include border-radius(2px);
  }
  .#{$prefix}btn-over, .#{$prefix}btn-menu-active {
    border-color: #86b5c5;
    &, td {     //for ie 7,8
      background-image: none;
      background-color: $toolbar-top-links-btn-menu-active-bg-color;
    }
  }
}

@include extjs-toolbar-ui(
    $ui: 'top-info',
    $background-color: $toolbar-top-info-background-color,
    $background-gradient: $toolbar-top-info-background-gradient,
    $border-width: 0
);
.#{$prefix}toolbar-top-info {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -5px;
  height:30px;
  position: relative;

  .x-btn {
    padding: 0;
    &, td {         //for ie 7,8
      border: none;
      background-image: none;
      background-color: transparent;
    }
  }

  .#{$prefix}btn-default-toolbar-small .#{$prefix}btn-inner{
    font-size: 14px;
  }
  .#{$prefix}toolbar-separator-horizontal{
    border-left-color: $toolbar-top-info-background-color;
    border-right-color: $toolbar-top-info-background-color;
  }
  .#{$prefix}btn-default-toolbar-small-disabled .#{$prefix}btn-inner{
    color: $toolbar-top-info-btn-inner-color;
  }
}
.#{$prefix}btn-default-toolbar-small-disabled .#{$prefix}btn-inner .infobar_elem_val{
  font-weight: bold;
}

.infobar_elem img{
  vertical-align: middle;
  margin-right: 5px;
}

.infobar_elem_val{
  color: #ffffff;
}
#centerPanel{
  .#{$prefix}toolbar-default {
    border-width: 0px;
    background-image: none;

  }
}

div[id^="infoBar"] .#{$prefix}btn-default-toolbar-small-over a.#{$prefix}btn-button{  //infobar links
  text-decoration: underline;
  color: #ffffff;
}
//selector for the "additional menu items" icon, when the screen is small
a[id*='\:tabs-menu-trigger']{
  width: 25px; //don't show the splitter
  &.#{$prefix}btn-default-toolbar-small-menu-active{      //sub-menu is visible
    //background-color: transparent;
    border: 1px solid silver;
    border-radius: 2px;
  }
  &.#{$prefix}btn-default-toolbar-small-over{             //hover state
    //background-color: transparent;
    opacity: .7;
  }
}
