/**
 * @var {color} $form-field-background-color
 * Background color for form fields.
 */
$form-field-background-color: #f4f3f0 !default;

/**
 * @var {color} $form-field-invalid-background-color
 * Background color for invalid form fields.
 */
$form-field-invalid-background-color: #fee !default;

$form-field-padding: 0px 6px 0px !default;

$form-field-height: 20px !default;