<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    id="ClaimSnapshotPolicyLocation800Popup"
    title="displaykey.Web.ClaimSnapshotPolicyLocationsLV.PolicyLocation">
    <LocationEntryPoint
      signature="ClaimSnapshotPolicyLocation800Popup(Claim : Claim, PolicyLocation : snapshot.v800.PolicyLocation)"/>
    <Variable
      name="PolicyLocation"
      type="snapshot.v800.PolicyLocation"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Input
            id="LocationNumber"
            label="displaykey.Web.ClaimSnapshotPolicyLocationDV.LocationNumber"
            value="PolicyLocation.LocationNumber"/>
          <InputSetRef
            def="AddressSnapshot800InputSet(PolicyLocation.Address,null)"
            editable="false"/>
          <Input
            id="Description"
            label="displaykey.Web.ClaimSnapshotPolicyLocationDV.Description"
            value="PolicyLocation.Address.Description"/>
        </InputColumn>
        <InputColumn>
          <ListViewInput
            boldLabel="true"
            label="displaykey.Web.ClaimSnapshotPolicyLocationDV.Lienholders"
            labelAbove="true"
            visible="PolicyLocation.Lienholders.length as Number &gt; 0">
            <Toolbar/>
            <ListViewPanel
              id="LienholdersLV">
              <RowIterator
                editable="false"
                elementName="PropertyOwner"
                type="snapshot.v800.PropertyOwner"
                value="(PolicyLocation.Lienholders as List&lt;snapshot.v800.PropertyOwner&gt;).where(\ po -&gt; po.LocationBasedRU == null)">
                <Row>
                  <Cell
                    id="Lienholder"
                    label="displaykey.Web.ClaimSnapshotPolicyLocationDV.Lienholder"
                    value="util.Snapshot.renderValue(PropertyOwner.Lienholder)"/>
                  <Cell
                    id="OwnerType"
                    label="displaykey.Web.ClaimSnapshotPolicyLocationDV.OwnerType"
                    value="util.Snapshot.renderValue(PropertyOwner.OwnerType)"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            label="displaykey.Web.ClaimSnapshotPolicyLocationDV.ListedItems"
            labelAbove="true"
            visible="PolicyLocation.HighValueItems.length as Number &gt; 0">
            <Toolbar/>
            <ListViewPanel
              id="ListedItemsLV">
              <RowIterator
                editable="false"
                elementName="PropertyItem"
                type="snapshot.v800.PropertyItem"
                value="PolicyLocation.HighValueItems">
                <Row>
                  <Cell
                    id="ItemDescription"
                    label="displaykey.Web.ClaimSnapshotPolicyLocationDV.ItemDescription"
                    value="PropertyItem.Description"/>
                  <Cell
                    formatType="currency"
                    id="ItemValue"
                    label="displaykey.Web.ClaimSnapshotPolicyLocationDV.ItemValue"
                    value="PropertyItem.AppraisedValue"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="ClaimSnapshotPolicyLocation800PanelSet(Claim, PolicyLocation)"/>
    </Screen>
  </Popup>
</PCF>