<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyTrips800LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="Object"/>
    <Variable
      initialValue="(SnapshotParam as snapshot.v800.Claim).Policy"
      name="Policy"
      type="snapshot.v800.Policy"/>
    <RowIterator
      editable="false"
      elementName="TripRU"
      value="Policy.RiskUnits">
      <Row>
        <Cell
          id="TripNumber"
          label="displaykey.Web.ClaimSnapshotPolicyTripLV.TripNumber"
          sortOrder="1"
          value="(TripRU as snapshot.v800.TripRU).RUNumber"/>
        <Cell
          id="TripDescription"
          label="displaykey.Web.ClaimSnapshotPolicyTripLV.Description"
          value="(TripRU as snapshot.v800.TripRU).TripDescription"/>
        <Cell
          id="StartDate"
          label="displaykey.Web.ClaimSnapshotPolicyTripLV.StartDate"
          value="(TripRU as snapshot.v800.TripRU).StartDate"/>
        <Cell
          id="EndDate"
          label="displaykey.Web.ClaimSnapshotPolicyTripLV.EndDate"
          value="(TripRU as snapshot.v800.TripRU).EndDate"/>
        <Cell
          id="GeographicalRegion"
          label="displaykey.Web.ClaimSnapshotPolicyTripLV.GeographicalRegion"
          value="(TripRU as snapshot.v800.TripRU).GeographicalRegion"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
