<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotBaggageIncidentScreen"
    mode="800">
    <Require
      name="IncidentParam"
      type="Object"/>
    <Variable
      initialValue="IncidentParam as snapshot.v800.BaggageIncident"
      name="BaggageIncident"
      type="snapshot.v800.BaggageIncident"/>
    <CardViewPanel>
      <Card
        id="Baggage_DetailsCard"
        title="displaykey.Web.BaggageIncident.Details">
        <PanelRef
          def="ClaimSnapshotBaggageIncident800DV(IncidentParam as snapshot.v800.BaggageIncident)"/>
      </Card>
    </CardViewPanel>
  </Screen>
</PCF>
