.#{$prefix}header-text-container{
  font-size: 13px;
  color: #232323;
  font-family: helvetica,verdana,sans-serif;

}
#centerPanel{
  .#{$prefix}container-text{
    font-family: helvetica,verdana,sans-serif;
    font-size: 16px;
    color: #999;
  }
  .#{$prefix}container-default-horizontal-noborder.#{$prefix}container-default{
    background-color: #efefef;
    border-bottom: 1px solid silver;
    border-top: 3px solid silver;
    margin-top: 10px;
  }
}
#southPanel{
  .#{$prefix}container-text{
    font-family: helvetica,verdana,sans-serif;
    font-size: 13px;
    color: #999;
  }
  .#{$prefix}container-default-horizontal-noborder.#{$prefix}container-default{
    background-color: #efefef;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    margin-top: 10px;
  }
}

.#{$prefix}container-default-horizontal-noborder{
  padding: 8px 10px 8px 10px;
}
.#{$prefix}container-default-horizontal-noborder .#{$prefix}container-default{
  border-bottom: 0px;
}