.#{$prefix}columnmenu {
  .#{$prefix}table-layout {
    border-collapse: collapse;
    .#{$prefix}menu-plain {
      border: none;
    }
  }
  .#{$prefix}table-layout-cell {
    @if $menu-border-width != null {
      border-style: $menu-border-style;
      border-width: $menu-border-width;
      border-color: $menu-border-color;
    }
  }
  .#{$prefix}menu{
    border-width: 0;
  }
}

