<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <CardViewPanel
    hideTabIfSingle="true"
    id="ClaimSnapshotPolicyCovTermsCV"
    mode="800">
    <Require
      name="Coverage"
      type="snapshot.v.Coverage"/>
    <Card
      id="ClaimSnapshotCovTermCard"
      title="&quot;&quot;">
      <PanelRef>
        <TitleBar
          title="displaykey.LV.Policy.CovTerms"/>
        <Toolbar/>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="CovTerm"
            hideCheckBoxesIfReadOnly="true"
            value="Coverage.CovTerms">
            <Row>
              <Cell
                id="covSortOrderCell"
                label="&quot;&quot;"
                sortOrder="1"
                value="CovTerm.CovTermOrder"
                visible="false"/>
              <Cell
                action="ClaimSnapshotCovTerm800Popup.push(CovTerm)"
                id="CovTermPattern"
                label="displaykey.LV.Policy.CovTerms.Subject"
                sortOrder="1"
                value="CovTerm.CovTermPattern"/>
              <Cell
                id="ModelRestriction"
                label="displaykey.LV.Policy.CovTerms.ApplicableTo"
                sortOrder="3"
                value="CovTerm.ModelRestriction"/>
              <Cell
                id="Amount"
                label="displaykey.LV.Policy.CovTerms.Amount"
                value="CovTerm.DisplayName"/>
              <Cell
                id="ModelAggregation"
                label="displaykey.LV.Policy.CovTerms.Per"
                value="CovTerm.ModelAggregation"/>
              <Cell
                id="Type"
                label="displaykey.LV.Policy.CovTerms.Subtype"
                sortOrder="2"
                value="CovTerm.Subtype.Code"
                visible="false"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Card>
  </CardViewPanel>
</PCF>