/**
 *  @var { color }
 *  highlight color for highlighted / inline detail view items
 */
$gw-detailview-highlight-color: #fff8d7;

/**
 *  @var { string }
 *  panel (listview) header font size
 */
$gw-header-font-size: 16px !default;

/**
*  @var { string }
*  panel (listview) Listview (grid) panel header font family
*/
$gw-header-font-family: helvetica,verdana,sans-serif !default;

