/**
 *  row cell
 */
$grid-row-cell-line-height: 18px !default;  //need to accomodate icons inside cell

/**
 * row cell over
 */
$grid-row-cell-over-border-color: $gw-grid-border-color !default;  //todo: mix to #d8f2cd

/**
 * row cell selected
 */
$grid-row-cell-selected-border-style: solid !default;
$grid-row-cell-selected-border-color: $gw-grid-border-color !default;
$grid-row-cell-selected-background-color: $base-light-color !default; //#add9f6 !default;
$grid-row-cell-focus-background-color: $base-light-color !default;


/**
 * row cell highlighted
 */
$grid-row-cell-highlighted-border-style: $grid-row-cell-selected-border-style !default;
$grid-row-cell-highlighted-border-color: $gw-grid-border-color !default;
$grid-row-cell-highlighted-background-color: #dcecf3 !default;

/**
 * row errors
 */
$grid-row-cell-error-border-style: $grid-row-cell-selected-border-style !default;
$grid-row-cell-error-border-color: $gw-grid-border-color !default;
$grid-row-cell-error-background-color: #f4e7dc !default;

/**
 * alternate row colors
 */
//$grid-row-cell-alt-background-color: #2a2a2a !default;

$grid-cell-inner-padding: $gw-form-field-vertical-padding 10px !default;

$grid-row-cell-color: $gw-text-color !default;
$grid-row-cell-background-color: $gw-grid-row-cell-background-color !default;
$grid-row-cell-border-color : $gw-grid-row-cell-border-color !default;
$grid-body-border-color: $gw-grid-border-color !default;