<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="PaymentMethodInputSet">
    <Require
      name="owner"
      type="entity.BulkInvoice"/>
    <Require
      name="helper"
      type="gw.api.financials.PaymentMethodHelper"/>
    <Require
      name="isPayeeChangeable"
      type="boolean"/>
    <Variable
      initialValue="helper.SelectedEFTData"
      name="eft"
      recalculateOnRefresh="true"
      type="entity.EFTData"/>
    <TypeKeyRadioInput
      editable="isPayeeChangeable"
      filter="VALUE != PaymentMethod.TC_MANUAL"
      id="PaymentMethod"
      label="displaykey.Web.Financials.BulkPay.Invoice.PaymentMethod"
      required="true"
      value="owner.PaymentMethod">
      <PostOnChange/>
    </TypeKeyRadioInput>
    <InputSet
      visible="owner.PaymentMethod == PaymentMethod.TC_CHECK">
      <TextAreaInput
        editable="isPayeeChangeable"
        id="PayTo"
        label="displaykey.Web.Financials.BulkPay.Invoice.PayTo"
        numCols="20"
        numRows="2"
        required="true"
        value="owner.PayTo"/>
      <TextInput
        editable="true"
        id="CheckNumber"
        label="displaykey.Web.Financials.BulkPay.Invoice.CheckNumber"
        numCols="10"
        value="owner.CheckNumber"/>
      <TypeKeyInput
        editable="true"
        id="DeliveryMethod"
        label="displaykey.Web.Financials.BulkPay.Invoice.DeliveryMethod"
        value="owner.DeliveryMethod"/>
      <TextInput
        editable="isPayeeChangeable"
        id="MailTo"
        label="displaykey.Web.Financials.BulkPay.Invoice.MailToContact"
        numCols="20"
        required="true"
        value="owner.MailTo"/>
      <TextInput
        editable="isPayeeChangeable"
        id="MailToAddress"
        label="displaykey.Web.Financials.BulkPay.Invoice.MailToAddress"
        numCols="25"
        value="owner.MailToAddress"/>
    </InputSet>
    <InputSet
      visible="owner.PaymentMethod == PaymentMethod.TC_EFT">
      <RangeInput
        editable="isPayeeChangeable"
        hideIfReadOnly="true"
        id="ContactEFTData"
        label="displaykey.Web.Financials.Check.BankData.SelectEFT"
        value="eft"
        valueRange="owner.Payee.EFTRecords">
        <PostOnChange
          onChange="helper.onEFTDataChange(eft)"/>
      </RangeInput>
      <TextAreaInput
        editable="isPayeeChangeable"
        id="AccountName"
        label="displaykey.Web.Financials.Check.BankData.BankAcctHolderName"
        numCols="20"
        numRows="2"
        required="true"
        value="owner.AccountName"/>
      <TextInput
        editable="isPayeeChangeable"
        id="BankName"
        label="displaykey.Web.Financials.Check.BankData.BankName"
        value="owner.BankName"/>
      <TypeKeyRadioInput
        editable="isPayeeChangeable"
        id="BankAccountType"
        label="displaykey.Web.Financials.Check.BankData.BankAccountType"
        required="true"
        value="owner.BankAccountType"/>
      <PrivacyInput
        editable="isPayeeChangeable"
        encryptionExpression="gw.api.privacy.EncryptionMaskExpressions.maskBankAccountNumber(VALUE)"
        id="BankAccountNumber"
        label="displaykey.Web.Financials.Check.BankData.BankAccountNumber"
        required="true"
        value="owner.BankAccountNumber"/>
      <TextInput
        editable="isPayeeChangeable"
        id="BankRoutingNumber"
        label="displaykey.Web.Financials.Check.BankData.BankRoutingNumber"
        required="true"
        value="owner.BankRoutingNumber"/>
    </InputSet>
  </InputSet>
</PCF>