<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CompanyVendorSpecialtyInputSet"
    mode="LawFirm">
    <Require
      name="contactHandle"
      type="contact.ContactHandle"/>
    <Input
      editable="true"
      id="LawFirmSpecialty"
      label="displaykey.Web.ContactDetail.LawFirm.LawFirmSpecialty"
      value="LawFirm.LawFirmSpecialty"/>
    <Code><![CDATA[
      property get LawFirm() : LawFirm { return contactHandle.Contact as LawFirm; }
    ]]></Code>
  </InputSet>
</PCF>
