<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    id="ActivityRules"
    canVisit="gw.bizrules.ActivityRules.ActivityRulesNavigationContext.Instance.Perm.View"
    title="DisplayKey.get('Web.ActivityRules.LG.Title')">
    <ScreenRef
      def="CCRulesListScreen(gw.bizrules.ActivityRules.ActivityRulesNavigationContext.Instance)"/>
  </Page>
</PCF>
