<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="RuleFilterCriteriaDV"
    mode="ActivityRule">
    <Require
      name="filterCriteria"
      type="gw.bizrules.CCRuleFilterCriteria"/>
    <Variable
      name="ruleFilterCriteria"
      initialValue="filterCriteria as gw.bizrules.ActivityRules.ActivityRuleFilterCriteria"
      type="gw.bizrules.ActivityRules.ActivityRuleFilterCriteria"/>
    <InputColumn>
      <TextInput
        id="TextFilter"
        editable="true"
        label="DisplayKey.get('Web.BizRules.Rule.RuleDetails.NameOrDescription')"
        value="ruleFilterCriteria.NameOrDescription">
      </TextInput>
      <RangeInput
        editable="true"
        id="Status"
        label="DisplayKey.get('Web.BizRules.Rule.RuleDetails.Status')"
        optionLabel="VALUE.DisplayName"
        required="true"
        value="ruleFilterCriteria.Status"
        valueRange="ruleFilterCriteria.AvailableStatuses"
        valueType="gw.bizrules.management.RuleQueryFactory&lt;ActivityRule&gt;"/>
      <RangeInput
        editable="true"
        id="Availability"
        label="DisplayKey.get('Web.BizRules.Rule.RuleDetails.Availability')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.Availability"
        valueRange="ruleFilterCriteria.AvailabilityVals"
        valueType="String"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        id="LossTypeFilter"
        label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.LossType')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.LossType"
        valueType="LossType"
        editable="true">
      </TypeKeyInput>
      <TypeKeyInput
        id="PolicyTypeFilter"
        label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.PolicyType')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.PolicyType"
        valueType="PolicyType"
        editable="true">
      </TypeKeyInput>
      <TypeKeyInput
        id="JurisdictionFilter"
        label="DisplayKey.get('Web.BizRules.Rule.ApplicabilityCriteria.Jurisdiction')"
        noneSelectedLabel="DisplayKey.get('Web.BizRules.Rule.Any')"
        value="ruleFilterCriteria.Jurisdiction"
        valueType="Jurisdiction"
        editable="true">
      </TypeKeyInput>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="RuleFilterCriteriaRuleActionInputSet(ruleFilterCriteria)"
        editable="true"
        mode="&quot;ActivityRule&quot;"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>