/**
 * tab bar background
 */

$tabbar-background-gradient: none !default; //color-stops(#f4fcff, #cbdee5) !default;
$tabbar-strip-border-color: $gw-tab-border-color;
$tab-base-color: #ebebeb !default;
$tab-base-color-over: #ebebeb !default;
$tab-base-color-active: #FFF !default;

/**
 * tab bar text
 */
$tab-color: $gw-text-color !default;
$tab-color-active: $base-color !default;
$tab-font-size: 14px !default;

$tabbar-padding: 6px 0 0 10px !default;
$tabbar-strip-height: 1px !default;
$tab-padding: 4px 10px 1px !default;
$tab-margin: 0 0 0 1px !default;