$panel-include-border-management-rules: false !default;
$panel-header-padding: 8px 10px !default;
$panel-header-font-size: 12px !default;
$panel-header-background-color: $gw-grid-header-background-color !default;
$panel-header-border-color: $gw-grid-border-color !default;
$panel-header-color: #2f3e43 !default;
$panel-tool-background-image: 'tools/tool-sprites-dark' !default;
$panel-body-background-color: $gw-background-color !default;

/**
 *  page panels
 */
$panel-page-header-background-color: #FFF !default;
$panel-page-header-text-padding: 6px 7px !default;
$panel-page-header-font-size: 18px !default;


/**
 *  left nav wizard attributes
 */
$embeddedwizard-grid-row-td-color: #282828 !default;
$embeddedwizard-grid-row-td-over-bgColor: #d5e2e6 !default;

/**
 *  tab cards
 */
$tab-font-weight: normal !default;
$tab-font-weight-active: bold !default;

$gw-highlight-color: mix(#fff, $base-color, 75%) !default;
$gw-error-msg-color: #ff0000 !default;
