<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>Servlets</servlet-name>
        <servlet-class>Servlets</servlet-class>
    </servlet>
   

    <context-param>
        
        <param-name>url</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
                    
    </context-param>
    
    <context-param>
        
        <param-name>username</param-name>
        <param-value>scott</param-value>
                    
    </context-param>
  
    <context-param>
        
        <param-name>password</param-name>
        <param-value>tiger</param-value>
                    
    </context-param>
     
    
    
    <servlet-mapping>
        <servlet-name>Servlets</servlet-name>
        <url-pattern>/ServletContext</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
