/**
 * @var {string} $image-extension
 * default file extension to use for images (defaults to 'png').
 */
$image-extension: 'png' !default;

/**
 * @var {boolean} $include-not-found-images
 * True to include files which are not found when compiling your SASS
 */
$include-missing-images: true !default;

$theme-resource-path: '' !default;

$relative-image-path-for-uis: "images" !default;

@import 'AlertBar';
@import 'BarValue';
@import 'ButtonLink';
@import 'Currency';
@import 'DetailView';
@import 'Drilldown';
@import 'InfoBar.scss';
@import 'ItemSelector';
@import 'LeftNav';
@import 'Link';
@import 'ListView';
@import 'LitigationCalendar';
@import 'Message';
@import 'Misc';
@import 'NorthPanel';
@import 'OpenSans';
@import 'Preferences';
@import 'RadioColumn';
@import 'UnsavedWork';