.gbarinput-wrap {
  float: left;
  margin-top: 5px;
  margin-right: 2px;
  width: 40px;
  height: 10px;
  border: 1px solid #666666;
}

.normalBar {
  background-color: #4050B0;
}

.highBar {
  background-color: green;
}

.mediumBar {
  background-color: #ffe400;
}

.lowBar {
  background-color: red;
}