.drilldownPrev, .drilldownNext, .drilldownParent, .drilldownChild {
  height: 15px;
  width: 15px;
}

a > .drilldownParent {
  background-image: theme-background-image("app/parent");
  cursor: pointer;
}
span > .drilldownParent {
  background-image: theme-background-image("app/parent_off");
}

a > .drilldownChild {
  background-image: theme-background-image("app/child");
  cursor: pointer;
}
span > .drilldownChild {
  background-image: theme-background-image("app/child_off");
}