.g-preferences-icon {
  background-image: theme-background-image("app/nav_preferences");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;//20px 20px;
}
//.x-btn-over .g-preferences-icon {
//  background-image: theme-background-image("app/nav_preferences_hover");
//}