<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="DriverCitationsLV">
    <ExposeIterator
      valueType="entity.Citation"
      widget="DriverCitationsLV"/>
    <Require
      name="VehicleIncident"
      type="VehicleIncident"/>
    <RowIterator
      editable="true"
      elementName="Citation"
      toAdd="VehicleIncident.addToCitations(Citation)"
      toRemove="VehicleIncident.removeFromCitations(Citation)"
      value="VehicleIncident.Citations">
      <Row>
        <Cell
          editable="true"
          id="CitationsArray_CitationNumber"
          label="displaykey.LV.Claim.CitationsArray.CitationNumber"
          numCols="10"
          sortOrder="1"
          value="Citation.CitationNumber"
          wrapLabel="true"/>
        <Cell
          editable="true"
          id="CitationsArray_CitationAuthority"
          label="displaykey.LV.Claim.CitationsArray.CitationAuthority"
          numCols="15"
          sortOrder="2"
          value="Citation.CitationAuthority"
          wrapLabel="true"/>
        <TypeKeyCell
          editable="true"
          id="CitationsArray_CitationType"
          label="displaykey.LV.Claim.CitationsArray.CitationType"
          numCols="15"
          sortOrder="3"
          value="Citation.CitationType"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
