$progress-bar-background-color: #90D3FF !default; //mix(#fff, $base-color, 50%) !default;
$progress-text-color-front: $gw-text-color !default;
$progress-text-color-back: $gw-text-color !default;
$progress-text-font-weight: normal !default;