/**
 * Login Page style attributes
 *
 */
.#{$prefix}container-login-page{
  background-image: theme-background-image('app/login_background'), theme-background-image('app/guidewire-app-login');
  background-position: center 64px, center 72px;
  padding-top: 152px;
  background-color: transparent;
  background-repeat: no-repeat;
  position: relative;
  width: 475px;
  text-align: center;
  margin: 0 auto;
}

/**
 *  error Messages
 */
#Login\:LoginScreen\:0 {
  border-width: 0;
  position: absolute;
  z-index: 1;
  top: 132px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #C00;
  left: 0;
  right: 0;
}

/*
 *  resets targeted specifically for grid cells (i.e., radio cell is build using tables which does not need border spaces)
 *  resets to eliminate extra pixels when place an IMG inside a DIV inside grid cells
 */
.#{$prefix}grid-cell-inner {
  table {
    border-spacing: 0;
  }
  img {
    vertical-align: top;
  }
}


/**
 *    radio range cells (radio buttons in grid cells)
 */
.gw-radio-group-cell {
  label, input {
    vertical-align: top;
  }
  label {
    margin:0 2px;
  }
  td {
    padding:0 4px;
  }
}

#westPanel {
  .#{$prefix}grid-cell-inner {
    // for left nav the cell padding is increased
    padding-top: top($grid-cell-inner-padding) - $grid-row-cell-border-width;
    padding-bottom: bottom($grid-cell-inner-padding) - $grid-row-cell-border-width;
  }
}

/**
 *  Alert bar styles
 */
.g-alert-bar {
  border: 1px solid #ffefb7 !important;
  padding: 5px 5px 5px 10px;
  margin: 5px 5px 5px 7px;
  border-radius: 3px;

  /* small width for the CLOSE button*/
  TD + TD{
    width: 20px;
  }
}

.#{$prefix}container-default.g-alert-bar{
  background-color: #ffefb7;
  font-size: 12px;
}


.gbarinput-wrap {
  float: left;
  margin-top: 5px;
  margin-right: 2px;
  width: 40px;
  height: 10px;
  border: 1px solid #666666;
}

.normalBar {
  background-color: #4050B0;
}

.highBar {
  background-color: green;
}

.mediumBar {
  background-color: #ffe400;
}

.lowBar {
  background-color: red;
}

/**
 *  links and button
 */
.miniButton,
.bigButton {
  white-space:nowrap !important;
  text-decoration:none !important; /* no need to underline button text */
  border-radius: 2px;
  margin-left: 1px;
}

/**
 *  disabled button link
 */
SPAN.miniButton, SPAN.bigButton {
  border:1px solid #aaa !important;
  color:#fff !important;
  background-color: #c1c1c1;

}

.bigButton {
  padding: 3px 10px;
  border-radius: 2px;
}

.bigButton + .bigButton {
  margin-left:4px;
}

A.g-cell-menu:hover,
A.miniButton:hover,
A.bigButton:hover {
  background-color: $button-default-background-color-over !important;
}


/**
 *  Negative currency colors
 */
.gw-currency-negative,
.#{$prefix}grid-cell.gw-currency-negative > DIV > .g-actionable,
.gw-currency-negative * {
  color: #FF0000;
}





