/* Override busy state: */
.x-mask {
  @include opacity (0);
  //filter: alpha(opacity=0);
  cursor:wait;
}

// AHK - 5/23/2013 - Explicitly set a width and height on the div for the mask spinner; without those, the image doesn't show up
// See PL-26214
.x-mask-msg-text {
  width: 16px;
  height: 16px;
}