/**
 *  Styles used by Ext.ux.form.ItemSelector
 */
.#{$prefix}form-multiselect-body {

  .#{$prefix}boundlist {
    .#{$prefix}mask {
      background: none;
    }
  }
}

.#{$prefix}form-itemselector-body {
  .#{$prefix}form-item {
    margin: 0;
  }
}

.#{$prefix}form-itemselector-add {
  background-image: theme-background-image('ux/right2', 'gif');
}
.#{$prefix}form-itemselector-remove {
  background-image: theme-background-image('ux/left2', 'gif');
}

/**
 *  Disabled menu link for Left nav
 */
.g-accordion .#{$prefix}grid-row .g-disabled  {
  color:#aaaaaa;
  cursor:default;
}

/**
 *  left menu active clickable items
 */
.g-accordion-item{
  cursor: pointer;
}

.g-subtitle {
  padding-left: 5px;
  font-weight: normal;
  color: #959595;
  font-size: $font-size;
  border: 0 none;
  background: none transparent;
}

.g-subtitle-wizard {
  @extend .g-subtitle;

  display: block;
  padding-left: 1px;
}


/**************************
 *  Link styles           *
 **************************/
/**
 *  space between a link and the element to its left
 */
* + .g-link {
  margin-left: 5px
}

/**
 * Specifically target breadcrumb links to ensure they don't line-wrap
 */
.g-link {
  white-space: nowrap;

  img{  //icon inside g-link should be centered vertically
    vertical-align: middle;
  }
}

.g-actionable .#{$prefix}form-display-field, /* action on a readonly value field */
.#{$prefix}form-field-wrap > .g-actionable,
.#{$prefix}form-twin-triggers > .g-actionable,
.#{$prefix}form-item-body .g-actionable,
.#{$prefix}form-item > .g-actionable,  /* helper icon for input field */
DIV.#{$prefix}form-item-cell > .g-actionable, /* hyperlink in DV cell*/
.altVal > .g-actionable /*link under alt value*/
{
  color: $gw-link-color;
  cursor: pointer;
}

TD.#{$prefix}grid-cell > DIV > .g-actionable, /* hyperlink in cell*/
{
  color: $gw-link-color;
  cursor: pointer;
  margin-right: $gw-cell-item-gap;
  &:last-child{
    margin-right: 0;
  }
}

.g-actionable {
  img{
    margin: 3px 0 0 3px;
  }
}

.#{$prefix}grid-cell-inner{
  .miniButton {
    margin-right: $gw-cell-item-gap;
    padding: 0 2px;
    font-size: 12px;
    &:last-child{
      margin-right: 0;
    }
  }

  img {
    margin-right: $gw-cell-item-gap;
    &:last-child{
      margin-right: 0;
    }
  }

}

.g-template-spacer * {
  margin-right: $gw-cell-item-gap;
  &:last-child{
    margin-right: 0;
  }
}

.#{$prefix}after-input-cell{
  .g-link-button{
    margin-left: 3px;
    font-size: 12px;
    font-weight: normal;
    font-family: $font-family;
    color: white;
    padding: 0px 3px;
    border-radius: 2px;
    border: 1px solid $base-color;
    background-color: $base-color;
    text-decoration: none;
    &:hover{
      background-color: $base-color;
    }
  }

  .g-actionable{
    text-decoration: none;
  }
}

span.bold, a.bold {
  font-weight: bold;
}

.g-helper-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  min-height: inherit;
}

.g-helper-cell-icon {
  float: right;
}

/**************************
 *  List View styles      *
 **************************/
.lvtitle TD,
TD.lvtitle,
tr.lvtitle,
.lvtitle div {
  color: #232323;
  font-weight: bold !important;
  background-color: #f5f5f5;
}

img.g-cell-menu {
  vertical-align: middle;
  margin:0 5px;
}

.lvhead TD,
TD.lvhead {
  background-color: #E2E2E2 !important;
  padding-top: 1px;
  padding-bottom: 1px;

}

.lvsubhead TD,
TD.lvsubhead,
.lvsubhead.#{$prefix}grid-row-alt .#{$prefix}grid-td {
  background-color: white;
}
tr.lvsubhead .#{$prefix}grid-cell-inner{
  color: #232323;
  font-weight: bold;
}

.g-enable-wrap .#{$prefix}grid-cell-inner {
  white-space:normal;
}

/**
 *  Style used by cells that specify bold="true"
 */
.#{$prefix}grid-row .#{$prefix}grid-cell.lv-bold {
  font-weight: bold;
}

/**
 *  Editable cell
 */
TD.g-cell-edit {
  background-image: theme-background-image("app/editable");
  background-position: left top;
  background-repeat: no-repeat;
}
.#{$prefix}grid-row-alt TD.g-cell-edit {
  background-image: theme-background-image("app/editable");
  background-position: left top;
  background-repeat: no-repeat;
}
TD.g-cell-edit * {
  cursor:pointer;
}

/**
 *  altValue for footer
 */
.altVal {
  white-space:nowrap;
  font-size:90%;
}

/**
 *  Required indicator for list view grid column header
 */
.requiredcolumnindicator .#{$prefix}column-header-inner {
  padding-left: 12px;
  background: theme-background-image("app/required") no-repeat;
}

/*******************************************
 * Row / Cell style classes
 * IMPORTANT: These cell style should not alter cell width by adding extra padding or border width!
 *******************************************/
.rowhighlighted TD {
  background-color: #ffffc3 !important;
  color: #000000 !important;
}

DIV.#{$prefix}grid-cell-inner > DIV {
  white-space:normal;
}

/**
 * Make form fields in cells have same font as regular cells.
 */
DIV.#{$prefix}grid-cell-inner > DIV.#{$prefix}form-item {
  font:normal 11px helvetica,arial,tahoma,sans-serif;
}

/*
 * spacing after a ListView
 */
.#{$prefix}panel.#{$prefix}grid {
  margin-bottom: 3px;
  margin-top: 10px;
}

.archived *,
.archived,
.archived span,
a.archived:visited,
a.archived:active {
  color: #A08060;
}

/*
 * hides the group header
 */
.g-no-group .#{$prefix}grid-group-hd {
  display:none
}

/*
 * disable dirty indicator
 */
.g-no-bg-img {
  background-image:none !important;
}
