.#{$prefix}header-text-container{
  font-size: 13px;
  color: $gw-text-color;
  font-family: $gw-header-font-family;

}
#centerPanel{
  .#{$prefix}container-text{
    font-family: $gw-header-font-family;
    font-size: $gw-header-font-size;
    color: $gw-grid-header-font-color;
  }
  a.#{$prefix}panel-header-text {
    font-family: $gw-header-font-family;
    font-size: $gw-header-font-size;
    font-weight: bold;
  }
  .#{$prefix}container-default-horizontal-noborder.#{$prefix}container-default{
    background-color: $gw-grid-header-background-color;
    border-bottom: 1px solid;
    border-bottom-color: $gw-grid-header-border-color;
    border-top: 3px solid;
    border-top-color: $gw-grid-header-border-color;
    margin-top: 10px;
  }
}
#southPanel{
  .#{$prefix}container-text{
    font-family: helvetica,verdana,sans-serif;
    font-size: 13px;
    color: #999;
  }
  .#{$prefix}container-default-horizontal-noborder.#{$prefix}container-default{
    background-color: #efefef;
    border-bottom: $gw-border;
    border-top: $gw-border;
    margin-top: 10px;
  }
}

.#{$prefix}container-default-horizontal-noborder{
  padding: 8px 10px 8px 10px;
}
.#{$prefix}container-default-horizontal-noborder .#{$prefix}container-default{
  border-bottom: 0px;
}

/**
 * loading indicator for panel content
 */
.g-panel-loading {
  width:16px;
  height:16px;
  background-image: theme-background-image('app/loading', 'gif');
}

.g-underlined { text-decoration:underline; cursor:pointer }
.g-double-underlined {   border-bottom: 3px double; } /** This style doesn't work in strict mode, may need to use background image, etc.*/

.g-progress-spinner {
  background: theme-background-image("app/wait", 'gif') no-repeat left;
  height: 16px;
  padding-left: 18px;
}

.icon{
  text-align: right;
  padding-right: 12px;
}

/**
 * header text in a flattened menu
 */
.g-menu-header {
  font-weight:bold;
}

/*
 * Top tab-bar links (e.g., Log-out.)
 */
.g-banner .#{$prefix}toolbar {
  border-width: 0;
  background: $toolbar-top-tabs-background-color none;
}
