.x-tool-expand-bottom,
.x-tool-collapse-bottom {
  background-position: 0 -208px;
  transform: rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */;
}