$gw-color-offwhite: #f4f3f0 !default;
$gw-color-black: #232323 !default;
$font-family: 'Open Sans', helvetica, sans-serif !default;
$font-size: 13px !default;
$gw-font-weight-bold: 700 !default;
$gw-form-field-vertical-padding: 3px !default;
$gw-left-nav-cell-vertical-padding: 7px !default;
$relative-image-path-for-uis: "images" !default;
$gw-alert-bar-color: #ffefb7 !default;
$gw-tab-border-color: #c0c0c0 !default;  //silver

/*
 * Titanium theme variables for applications
 */
$color: #333a3f !default;
$base-color: #0067ac !default;
$base-dark-color: mix(#000, $base-color, 14%) !default;
$base-light-color: lighten( desaturate($base-color, .8%), 45%) !default;
$base-highlight-color: adjust-hue( desaturate( lighten( $base-color, 18%), 36%), 1%) !default;
$gw-text-color: $gw-color-black !default;
$gw-grid-header-font-color: #999 !default;
$gw-background-color: #fff !default;
$gw-form-field-background-color: $gw-color-offwhite !default;

$gw-grid-header-background-color: #efefef !default;
$gw-grid-header-border-color: #c0c0c0 !default;
$gw-grid-border-color: #d6d6d6 !default;
$gw-border: 1px solid $gw-grid-border-color !default;
$gw-link-color: #0067ac !default;  //$base-color;
$gw-splitter-color: #e2e2e2 !default;
$gw-toolbar-text-color: mix(desaturate(lighten($base-color, 37), 5), #000, 30) !default;
$gw-boundlist-background-color: #fff !default;
$gw-grid-row-cell-border-color: #ededed !default;
$gw-grid-row-cell-background-color: #fff !default;
$gw-top-nav-background-color: $gw-color-offwhite !default;
$gw-tabbar-background-color: #f9f9f7 !default;
$gw-tabbar-active-background-color: #fff !default;

/*
 *  Top Navigation and Button Background
 */
$gw-button-default-background-color: $base-color !default;
$gw-top-nav-button-border: $gw-top-nav-background-color !default;
$gw-top-nav-base-color: $base-color !default;
$gw-top-nav-dark-color: $base-dark-color !default;
$gw-top-nav-light-color: $base-light-color !default;
$gw-top-nav-highlight-color: $base-light-color !default;
$gw-top-nav-disabled-color: #bbbbbb !default;
$gw-top-nav-button-background: transparent !default;












