.g-accordion{
  .#{$prefix}panel-header-tree-navigation{
    background-color: #f2f2f2;
    border-top: 1px solid #e5e3d7 !important;
    border-bottom: 1px solid #e5e3d7 !important;
    font-size: 13px;
  }
}

/**
 *  Left tree navigation
 */
@include extjs-panel-ui(
  $ui-label: 'tree-navigation',
  $ui-body-background-color: #FFF,
  
  $ui-header-color: #000,
  $ui-header-font-size: 14px,
  $ui-header-font-weight: normal,
  $ui-header-line-height: 16px,
  $ui-header-border-color: #e5e3d7,
  $ui-header-background-color: #FFF,
  $ui-header-background-gradient: null,
  $ui-header-inner-border-color: #e5e3d7,
  $ui-header-padding: 5px 10px
);
.#{$prefix}panel-tree-navigation {
  .#{$prefix}grid-header-ct {
    border: none;
  }
  .#{$prefix}panel-inline-icon {
    display: none;
  }
}
.#{$prefix}panel-body-tree-navigation {
  .#{$prefix}tree-icon {
    display: none;
  }
  // rows
  .#{$prefix}grid-row-over{
    .#{$prefix}grid-td {
      background-color: $menu-item-hover-bgColor;
      border-color: $menu-item-hover-bgColor;
      color: $gw-text-color;
    }
  }
  .#{$prefix}grid-row-focused {
    .#{$prefix}grid-td {
      border-color: $menu-item-hover-bgColor;
      background-color: $menu-item-hover-bgColor;
      color: #000;
    }
  }
  .#{$prefix}grid-row-selected .#{$prefix}grid-td{
    border-color: $base-color !important;
    background-color: $base-color !important;
    color: #FFF;
  }
  .#{$prefix}grid-row .g-disabled {
    border-color: #FFF !important;
    background-color: #FFF !important;
    color: #c1c1c1 !important;
    cursor: default;
  }
  
  // padding
  .#{$prefix}tree-elbow,
  .#{$prefix}tree-elbow-end,
  .#{$prefix}tree-elbow-plus,
  .#{$prefix}tree-elbow-end-plus,
  .#{$prefix}tree-elbow-empty,
  .#{$prefix}tree-elbow-line,
  .#{$prefix}tree-expander {
    width: 15px;
  }
}

/**
 * Wizard
 */
.embeddedwizard {
  .#{$prefix}panel-header-tree-navigation {
    border-top-width: 1px !important;
    padding-bottom: 10px;
    font-size: 15px;
    background-color: transparent;
    border: none !important;
  }
  
  // rows
  .#{$prefix}grid-row .#{$prefix}grid-td {
    color: $embeddedwizard-grid-row-td-color;
  }
  .#{$prefix}grid-row-over{
    .#{$prefix}grid-td {
      border-color: $menu-item-hover-bgColor;
      background-color: $menu-item-hover-bgColor;
      color: $embeddedwizard-grid-row-td-color;
    }
  }

  .#{$prefix}grid-row-focused {
    .#{$prefix}grid-td {
      border-color: #d5e2e6;
      background-color: #d5e2e6;
      color: $embeddedwizard-grid-row-td-color;
    }
  }
  .#{$prefix}grid-row-selected .#{$prefix}grid-td{
    border-color: $base-color !important;
    background-color: $base-color !important;
    color: #FFF;
  }
}

/**
 * hide the misleading icon of leaf node for tree view and row tree
 */
.#{$prefix}tree-node-leaf {
  .#{$prefix}tree-node-icon {
    display:none
  }
}

/**
 * Allow text wrapping for RowTree Cell
 */
.#{$prefix}treegrid {
  .#{$prefix}tree-node {
    white-space:normal;
  }
}

/**
 * underline the first column in a RowTree entry:
 */
.g-actionable-tree-node > div,

/**
 * underline columns other than the first one:
 */
.g-actionable > .#{$prefix}treegrid-text
{
  color: $base-color !important; cursor:pointer;
}